<template>
  <div class="display-list-video">
    <el-dialog title="New Project, Events" :visible.sync="dialogFormVisible">
      <el-form :model="form">
        <el-form-item label="Project, Events" :label-width="formLabelWidth">
          <el-input v-model="form.labcode" placeholder="Please enter LABCODE" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="Project, Events Name" :label-width="formLabelWidth">
          <el-input v-model="form.labroomname" placeholder="Please enter LABROOMNAME" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="Status" :label-width="formLabelWidth">
          <el-select v-model="form.status" placeholder="Please select status">
            <el-option label="Yes" value="Y"></el-option>
            <el-option label="No" value="N"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Registry Date" :label-width="formLabelWidth">
          <el-date-picker
            v-model="form.registryDate"
            type="datetime"
            placeholder="Select date and time">
          </el-date-picker>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">Cancel</el-button>
        <el-button type="primary" @click="handleSaveProject">Save</el-button>
      </span>
    </el-dialog>
    <div class="container" style="margin-top: 20px">
      <el-row class="search-wrapper" :gutter="10">
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-button type="success" @click="dialogFormVisible = true" round>ADD</el-button>
        </el-col>
        <el-col :lg="8" :md="8" :sm="8" :xs="24" class="padding5">
          <el-input
            placeholder="Searching by style code or name"
            suffix-icon="el-icon-search"
            v-model="listQuery.filename"
            @keyup.enter.native="getList"
          />
        </el-col>
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-button type="primary" icon="el-icon-search" @click="getList">Search</el-button>
        </el-col>
      </el-row>
      <el-table
        :data="list"
        v-loading="listLoading"
        stripe
        :default-sort="{prop: 'BUYER', order: 'ascending'}"
        style="width: 100%; margin-top: 20px"
        height="250"
        class="list-manage-style"
        @current-change="handleClickRow"
        ref="singleTable"
        highlight-current-row
      >
        <el-table-column prop="LABCODE" label="Project, Events" width="150" sortable fixed></el-table-column>
        <el-table-column prop="LABROOMNAME" label="Project, Events name" width="250" fixed></el-table-column>
        <el-table-column prop="USESTATUS" label="Status" width="100"></el-table-column>
        <el-table-column prop="UPLOADER_NAME" label="Register" width="250"></el-table-column>
        <el-table-column prop="UPLOADDATE_TEXT" label="Registry Date" width="200"></el-table-column>
        <el-table-column fixed="right" label="Operations" width="120" align="center">
          <template>
            <el-button type="info" size="small">
              <i class="fa fa-edit"></i>
            </el-button>
            <el-button type="danger" size="small">
              <i class="fa fa-trash"></i>
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <div class="pagin-list text-center">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="getList"
          :current-page.sync="listQuery.pageindex"
          :page-sizes="[10, 20, 30, 50]"
          :page-size="10"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalrecords"
        ></el-pagination>
      </div>
    </div>
    <div class="container" style="margin-top: 20px">
      <el-table
        :data="listItemProject"
        v-loading="listLoading"
        stripe
        :default-sort="{prop: 'CORPORATION', order: 'ascending'}"
        style="width: 100%; margin-top: 20px"
      >
        <el-table-column prop="PROCODE" label="Project Code" width="150" sortable fixed></el-table-column>
        <el-table-column prop="PRONAME" label="Project Name" width="250"></el-table-column>
        <el-table-column prop="PRODESCRIPTION" label="Description" width="300"></el-table-column>
        <el-table-column prop="USESTATUS" label="Status" width="100"></el-table-column>
        <el-table-column prop="UPLOADER_NAME" label="Register" width="250"></el-table-column>
        <el-table-column prop="UPLOADDATE_TEXT" label="Registry Date" width="200"></el-table-column>
        <el-table-column fixed="right" label="Operations" width="120" align="center">
          <template>
            <el-button type="info" size="small">
              <i class="fa fa-edit"></i>
            </el-button>
            <el-button type="danger" size="small">
              <i class="fa fa-trash"></i>
            </el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- <div class="pagin-list text-center">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="getList"
          :current-page.sync="listQuery.pageindex"
          :page-sizes="[10, 20, 30, 50]"
          :page-size="10"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalrecords"
        ></el-pagination>
      </div>-->
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";

export default {
  layout: "default",
  middleware: "auth",
  data() {
    return {
      list: [],
      totalrecords: 0,
      fileId: undefined,
      uploadPct: "---",
      fileUrl: undefined,
      listLoading: false,
      listQuery: {
        pageindex: 1,
        pagesize: 10,
        filename: "",
        afterday: -1 // all
      },
      listItemProject: [],
      listQueryItemProject: {
        pageindex: 1,
        pagesize: 10,
        afterday: -1 // all
      },
      dialogFormVisible: false,
      form: {
        labcode: '',
        labroomname: '',
        status: 'Y',
        registryDate: '',
        date1: '',
        date2: '',
        delivery: false,
        type: [],
        resource: '',
        desc: ''
      },
      formLabelWidth: '160px'
    };
  },
  async asyncData(context) {
    var listProject = await context.$axios.get("pkvideos/project-list");
    console.log(listProject);
    return {
      list: listProject.data.Result,
      totalrecords: listProject.data.TotalRecord
    };
  },
  computed: {
    ...mapGetters(["loggedInUser"])
  },
  created() {
    // console.log(mapGetters(["loggedInUser"]));
  },
  methods: {
    // function get list manage style
    async getList() {
      this.listLoading = true;
      var response = await this.$axios.get("pkvideos/style-file-list", {
        params: this.listQuery
      });
      this.list = response.data.Result;
      this.totalrecords = response.data.TotalRecord;
      this.listLoading = false;
    },
    handleDelete(row) {
      this.$confirm(
        "This will permanently delete the file. Continue?",
        "Warning",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning"
        }
      )
        .then(async () => {
          // console.info(row);
          var response = await this.$axios.delete("pkvideos/" + row.FILEID);
          if (response.data.IsSuccess) {
            await this.getList();
            this.$message({
              type: "success",
              message: "Delete completed"
            });
          } else {
            this.$message({
              type: "warning",
              message: response.data.Log
            });
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled"
          });
        });
    },
    handleSizeChange(pageSize) {
      this.listQuery.pagesize = pageSize;
      this.getList();
    },
    /*----- Code by Dinh Van -----*/
    // function get list video of one style
    async getListItemProject() {
      var response = await this.$axios.get("pkvideos/list-item-project", {
        params: this.listQueryItemProject
      });
      this.listItemProject = response.data.Result;
      console.log(response.data.Result);
    },
    // when click row manage style will call function this
    async handleClickRow($row) {
      if ($row != null) {
        this.listQueryItemProject.labcode = $row.LABCODE;
        this.getListItemProject();
      }
    },
    // function open video when click button play
    handleClickPlay(scope) {
      window.open(scope.row.URL);
    },
    async handleSaveProject () {
      this.dialogFormVisible = false;
      this.$message({
        type: "warning",
        message: "Function is doing"
      });
    }
  }
};
</script>

<style>
input[type="file"] {
  display: none;
}
table thead tr th {
  background-color: #f5f7fa !important;
}
</style>
