<template>
  <div class="container agent-tile">
    <div v-if="mode=='view' || mode=='read-only'" class="col-sm-3 tile-title">
      Awards
    </div>
    <div v-if="mode=='view' || mode=='read-only'" class="col-sm-6 col-xs-11">
      <ul>
        <li v-for="agentAward in agentAwards">
          {{ agentAward.name }}
        </li>
      </ul>
    </div>
    <div v-if="mode=='view'" class="col-xs-1 col-sm-offset-2 no-padding">
      <div class="edit-button">
        <button class="button-default" v-on:click="editAgentAwards">Edit</button>
      </div>
    </div>
    <div v-if="mode=='edit-agent-awards'" class="col-sm-6 col-sm-offset-3">
      <label class="control-label">Awards</label>
      <div class="row form-group" v-for="(inputAgentAward, index) in inputAgentAwards">
        <div class="col-xs-11">{{ inputAgentAward.name }}</div>
        <div class="col-xs-1">
          <span class="fa fa-times-circle" aria-hidden="true" 
            v-on:click="deleteAgentAward(index)"></span>
        </div>
      </div>
      <div class="row form-group" v-for="(newAgentAward, index) in newAgentAwards">
        <div class="col-xs-11">
          <span role="button" class="left-sign" v-on:click="addNewAgentAward">+</span>
          <input type="text" class="transparent-input" id="input-agent-award"
            placeholder="Add award" name="agent-award" v-model="newAgentAward['name']">
        </div>
        <div v-if="newAgentAwards.length >= 2" class="col-xs-1">
          <span class="fa fa-times-circle" aria-hidden="true" 
            v-on:click="deleteNewAgentAward(index)"></span>
        </div>
      </div>
      <div class="form-group">
        <button type="button" class="button-primary" v-on:click="saveAgentAwards">Save</button>
        <button type="button" class="button-default" v-on:click="cancelEdition">Cancel</button>
      </div>
    </div>
  </div>
</template>

<script>
import { getAxiosAirlisting } from '~/plugins/axios-airlisting';
import { captureException } from '~/plugins/error-logger';

export default {
  // Props
  props: ['username', 'auth0UserId', 'isReadOnly'],

  // Data
  data: function() {
    return {
      agentAwards: [],
      axiosAirlisting: getAxiosAirlisting(this.$router),
      inputAgentAwards: [],
      newAgentAwards: [{
        username: this.username,
        'auth0-user-id': this.auth0UserId
      }],
      mode: this.isReadOnly ? 'read-only' : 'view'
    };
  },

  // Watch
  watch: {
    // Update the agent awards
    'auth0UserId': function(value) {
      this.retrieveAgentAwards();
    }
  },

  // Retrieve the data
  created: function() {
    // Retrieve the data
    this.retrieveAgentAwards();
  },

  // Methods
  methods: {
    // Retrieves the awards of the agent
    retrieveAgentAwards: function() {
      // Check that the Auth0 user id has been defined
      if (undefined === this.auth0UserId)
        return;

      // Retrieve the awards
      var self = this;
      this.axiosAirlisting.get('/agentAward?auth0UserId=' + encodeURIComponent(this.auth0UserId))
        .then(function(response) {
          self.agentAwards = response.data;
        })
        .catch(function(error) {
          // Log the error
          if ((undefined === error.response) || (404 !== error.response.status))
            captureException(error);
        });
    },

    // Edit the agent awards
    editAgentAwards: function() {
      this.inputAgentAwards = this.agentAwards.slice();
      this.newAgentAwards = [{
        username: this.username,
        'auth0-user-id': this.auth0UserId
      }];
      this.mode = 'edit-agent-awards';
    },

    // Save the agent awards
    saveAgentAwards: function() {
      // Add the new agent awards to the array
      var self = this;
      this.newAgentAwards.forEach(function(newAgentAward) {
        if ((undefined !== newAgentAward['name']) && ('' !== newAgentAward['name']))
          self.inputAgentAwards.push(newAgentAward);
      });

      // Find the new agent awards
      var inputAgentAwardIdMap = {};
      var newAgentAwardIndexes = [];
      for (var i = 0; i < this.inputAgentAwards.length; i++) {
        // Add the new agent awards if they have not been created
        if (!('id' in this.inputAgentAwards[i]))
          newAgentAwardIndexes.push(i);
        // Otherwise, add the id to the map
        else
          inputAgentAwardIdMap[this.inputAgentAwards[i]['id']] = true;
      }

      // Add the new agent awards
      if (0 < newAgentAwardIndexes.length) {
        newAgentAwardIndexes.forEach(function(index) {
          this.axiosAirlisting.post('/agentAward', self.inputAgentAwards[index])
            .then(function(postResponse) {
              self.inputAgentAwards[index] = postResponse.data;
            })
            .catch(function(postError) {
              captureException(postError);
            });
        });
      }

      // Delete the old agent awards
      for (var k = 0; k < this.agentAwards.length; k++) {
        if (!(this.agentAwards[k].id in inputAgentAwardIdMap))
          this.axiosAirlisting.delete('/agentAward/' + this.agentAwards[k].id)
            .then(function(deleteResponse) {})
            .catch(function(deleteError) {
              if ((undefined === deleteError.response) || (404 !== deleteError.response.status))
                captureException(deleteError);
            });
      }

      // Update the agent awards
      this.agentAwards = this.inputAgentAwards;
      this.mode = 'view';
    },

    // Add an agent award
    addNewAgentAward: function() {
      this.newAgentAwards.push({
        username: this.username,
        'auth0-user-id': this.auth0UserId
      });
    },

    // Delete an agent award
    deleteNewAgentAward: function(agentAwardIndex) {
      this.newAgentAwards.splice(agentAwardIndex, 1);
    },

    // Delete an agent award
    deleteAgentAward: function(inputAgentAwardIndex) {
      this.inputAgentAwards.splice(inputAgentAwardIndex, 1);
    },

    // Cancel the edition
    cancelEdition: function() {
      this.mode = 'view';
    }
  }
}
</script>