<template>
  <div class="dropdown">
    <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" 
      href="javascript:void(0);">
      <span>{{ options[selectedIndex] }}</span> <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li v-for="(option, index) in options">
        <a href="javascript:void(0);" v-on:click="updateSelection(index)">{{ option }}</a>
      </li>
    </ul>
 </div>
</template>

<script>
export default {
  // Props
  props: ['options', 'selectedIndex'],

  // Methods
  methods: {
    // Update the selected item
    updateSelection: function(index) {
      this.$emit("updateIndex", index);
    }
  }
}
</script>