<template>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#header-navbar-collapse"
          aria-expanded="false"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <nuxt-link class="navbar-item" style="color: white" to="/">
          <img class="navbar-brand logo-header" src="/images/logo/pk.jpeg" alt="Logo" />
        </nuxt-link>
      </div>

      <div class="collapse navbar-collapse" id="header-navbar-collapse">
        <el-menu
          :default-active="active"
          class="el-menu-demo"
          mode="horizontal"
          background-color="inherit"
          active-text-color="#5697d0"
        >
          <el-menu-item class="tag-menu" index="1">
            <nuxt-link to="/">Home</nuxt-link>
          </el-menu-item>
          <el-menu-item class="tag-menu" index="2">
            <nuxt-link to="/gallery">Gallery</nuxt-link>
          </el-menu-item>
          <el-submenu class="tag-menu" index="3" v-if="isAuthenticated">
            <template slot="title">Manage videos</template>
            <el-menu-item index="3-1" class="sub-tag-menu">
              <nuxt-link class="menu-level-2 full-width-link" to="/uploadvideo">Upload</nuxt-link>
            </el-menu-item>
            <el-menu-item index="3-2" class="sub-tag-menu">
              <nuxt-link class="menu-level-2 full-width-link" to="/myvideo">My videos</nuxt-link>
            </el-menu-item>
          </el-submenu>
          <el-submenu class="tag-menu" index="4" v-if="isAuthenticated">
            <template slot="title">Style files</template>
            <el-menu-item index="4-1">
              <nuxt-link class="menu-level-2 full-width-link" to="/manage-style/upload">Style file management</nuxt-link>
            </el-menu-item>
            <!-- <el-menu-item index="4-2">
              <nuxt-link
                class="menu-level-2 full-width-link"
                to="/manage-style/list-video"
              >List videos</nuxt-link>
            </el-menu-item> -->
          </el-submenu>
          <el-menu-item class="tag-menu" index="5" v-if="roleId == '9100'">
            <nuxt-link to="/setups/setup">Setups</nuxt-link>
          </el-menu-item>
          <!-- <el-menu-item index="5" v-if="isAuthenticated">
                <nuxt-link to="/users/user">User</nuxt-link>
          </el-menu-item>-->
          <el-menu-item class="tag-menu">
            <a href="#" class="navbar-item" @click="clickIconSearch()">
              <i class="fa fa-search icon-menu-heafer" aria-hidden="true"></i>
            </a>
          </el-menu-item>
          <el-submenu class="tag-menu" index="1">
            <template slot="title">
              <i class="fa fa-user icon-menu-heafer"></i>
            </template>
            <el-menu-item>
              <a
                href="#"
                class="menu-level-2 full-width-link"
                @click="logout"
                v-if="isAuthenticated"
              >Logout</a>
              <a href="#" class="menu-level-2 full-width-link" @click="login" v-else>Login</a>
            </el-menu-item>
          </el-submenu>
        </el-menu>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { EventBus } from "eventbus";


export default {
  computed: {
    ...mapGetters(["isAuthenticated", "loggedInUser", "displayMenuSetup"]),
    active() {
      return this.$store.state.store.active;
    }
  },
  created() {
    // console.log(this.$store.state);
    // console.log(this.$auth.loggedIn);
    // console.log(this.$auth.user.Result.RoleId);
    // console.log(isAuthenticated);
    this.handleActiveMenu();
    this.roleId = this.$auth.user.Result.RoleId;
    
  },
  data() {
    return {
      roleId: ""
    };
  },
  props: ["dialogVisible"],
  methods: {
    async login() {
      await this.$auth.logout();
      this.$router.push("/auth/login");
    },
    async logout() {
      this.roleId = "";
      this.$store.state.store.active = '1';
      await this.$auth.logout();
      this.$router.push("/");
    },
    clickIconSearch() {
      var dialog_visible = !this.dialogVisible;
      this.$emit("dialogFormVisible", dialog_visible);
    },
    // set default-active
    handleActiveMenu() {
      let path = window.location.pathname;
      if(path == '/setups/setup/') {
        this.$store.commit('store/setup')
      } else if(path == '/gallery/'){
        this.$store.commit('store/gallery')
      } else if(path == '/uploadvideo/'){
        this.$store.commit('store/upload')
      } else if(path == '/myvideo/'){
        this.$store.commit('store/myvideo')
      } else if(path == '/manage-style/upload/'){
        this.$store.commit('store/styleupload')
      } else if(path == '/manage-style/list-video/'){
        this.$store.commit('store/stylelistvideo')
      } else {
        this.$store.state.store.active = '1';
      }
    },

  }
};
</script>
<style>
#header-navbar-collapse ul {
  float: right;
}
#header-navbar-collapse .el-submenu__title i {
  font-weight: 600;
}
#header-navbar-collapse .el-submenu__title i:hover {
  color: #5697d0;
}
#header-navbar-collapse .el-menu.el-menu--horizontal {
  border-bottom: none;
}
#header-navbar-collapse .el-menu--horizontal > .el-menu-item a {
  text-decoration: none;
}
.is-active a {
  color: #5697d0 !important;
}
.is-active .el-submenu__title {
  color: #5697d0 !important;
}
.menu-level-2 {
  color: #193c5a !important;
  text-decoration: none !important;
  background: #fff;
  padding-left: 10px;
  font-weight: 500;
  font-size: 13px;
}
.el-menu--popup {
  min-width: 140px;
}
.el-submenu__title {
  font-size: 13px;
  /* text-transform: capitalize; */
  font-weight: 600;
  color: inherit !important;
}
.el-menu-item {
  font-size: 13px;
  /* text-transform: capitalize; */
  font-weight: 600;
}
.logo-header {
  margin-top: 3px;
}
.full-width-link {
  width: 100%;
  display: inline-block;
}
.menu-level-2:hover {
  color: #5697d0 !important;
}
</style>