/* @import url("https://fonts.googleapis.com/css?family=Open+Sans"); */

body {
  /* padding-top: 50px; */
  /* background-color: #096386 */
  /* background-color: #ABA6BF */
  background-color: #f2f2f2;

  /* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+"); */
}

.navbar-brand img {
  height: 40px;
  width: 50px;
}

.navbar-brand {
  padding: 8px 15px;
}

/* .search-wrapper {
  margin: 10px 0;
} */

.col-space {
  content: "&nbsp;";
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 170px;
  max-height: 170px;
  /* border-radius: 5px; */
  /* background-color: white; */
  margin-bottom: 10px;
  cursor: pointer;
  /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15); */
  padding-left: 5px;
}

.box_title {
  background-color: red;
}

.box_detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: lighten(grey, 15%) !important;
}

.el-select {
  width: 100%;
}

.test-enter-active,
.test-leave-active {
  transition: opacity 0.2s;
}
.test-enter,
.test-leave-active {
  opacity: 0;
}

/*----- Dinh Van add css -----*/
.display-list-video {
  padding-top: 50px;
  padding-bottom: 30px;
}
.pagin-list  {
  margin-top: 20px;
  margin-bottom: 40px;
  background: #d4d5d6;
  padding: 5px;
}
.search-wrapper {
  margin-bottom: 20px;
  padding: 5px 10px;
  background: #ffffff;
  border-radius: 5px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.search-wrapper .padding5 {
  padding: 5px !important;
}
.el-select-dropdown__item.selected {
  background: #eee;
}
.list-manage-style table tbody tr {
  cursor: pointer;
}
.el-date-editor--daterange.el-input__inner {
  width: 100% !important;
}
@media only screen and (max-width: 800px) {
  .video-content img {
    max-height: 193px !important;
  }
  .icon-document {
    padding: 19.5% 0 !important;
  }
}
@media only screen and (min-width: 1024px) {
  .info-detail-video {
    max-width: 60%;
  }  
}
.header-select-buyer {
  width: 100%;
  float: left;
  padding: 10px 20px;
  background: #409EFF ;
  position: sticky;
  top: 0px;
  z-index: 1000;
  color: white;
  font-weight: bold;
}
.readonly input {
  background-color: #eee;
}
/* .search-wrapper-home {
  margin-bottom: 10px;
  padding: 5px 10px;
  background: #ffffff;
  border-radius: 5px;
  margin-left: 0px !important;
  margin-right: 0px !important;
} */
.click-row {
  background-color: #fff2c8 !important;
}
.upload-video {
  /* width: 80%; */
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
.btn-upload-video .el-form-item .el-form-item__content {
  margin-left: 0px !important;
  width: 100%;
}
.btn-upload-video .group-btn-upload {
  margin-top: 15px;
  width: 100%;
}
.form-content {
  margin-top:20px; 
  margin-bottom: 20px
}
.font15 {
  font-size: 15px;
}
.font14 {
  font-size: 14px;
}
.select-file-document .el-form-item__content {
  margin-left: 0px !important;
}
.div-time-upload {
  float: left;
  width: 40%;
}
.div-time-upload img {
  float: right;
  width: 30px; 
  height: 30px
}
.upload-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60%;
  float: left;
}

.div-icon-document {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #d6d6d6;
}
.icon-document {
  font-size: 60px;
  position: relative;
  top: calc(25% - 0px);
  padding: 17.5% 0;
}
.modal-search .el-dialog {
  width: 90% !important;
  margin-top: 10vh !important;
}
.time_start {
  width: 100px;
  padding: 5px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
}
.time_end {
  width: 100px;
  padding: 5px;
  margin-left: 10px;
  border-radius: 5px;
}
#add_video table {
  width: 100%;
}
#add_video .fa-trash {
  vertical-align: 25px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 8%;
  color: #f56c6c;
  padding: 5px;
  border: 1px solid #eee;
  background: #eee;
  border-radius: 5px;
}
#add_video .fa-check {
  vertical-align: 65px;
  cursor: pointer;
  font-size: 20px;
  padding-left: 20%;
  color: #64f87d;
  display: none;
  padding: 5px;
  border: 1px solid #eee;
  background: #eee;
  border-radius: 5px;

}
#add_video .fa-upload {
  vertical-align: 25px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 5%;
  padding: 5px;
  border: 1px solid #eee;
  background: #eee;
  border-radius: 5px;
}
#add_video .fa-download {
  vertical-align: 25px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 6%;
  color: #4eb750;
  padding: 5px;
  border: 1px solid #eee;
  background: #eee;
  border-radius: 5px;
}
.form-video {
  width: 100%;
  height: 100%;
  position: relative;
}
.slider-video {
  width: 260px;
  height: 100%;
  position: absolute !important;
  top: -44%;
  left: -10px;
  z-index: 999;
  margin: 0 !important;
}


[slider] {
  position: relative;
  height: 14px;
  border-radius: 10px;
  text-align: left;
  margin: 45px 0 10px 0;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height: 14px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 14px;
  border-radius: 10px;
  background-color: #CCC;
  margin: 0 7px;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 14px;
  border-radius: 14px;
  background-color: #1ABC9C;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 28px;
  width: 28px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #FFF;
  border-radius: 50%;
  outline: none;
}

[slider] > input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 14px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type=range]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type=range]:focus {
  outline: none;
}

div[slider] > input[type=range]::-ms-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-moz-range-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 28px;
  height: 28px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type=range]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index:3;
  background-color: #1ABC9C;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: '';
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #1ABC9C;
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}

.demo-input-label {
  display: inline-block;
  width: 50px;
  font-weight: 600;
}
.upload-input .el-input{
  width: 60%;
}
.block-slider .el-slider__runway {
  margin: 0px !important;
  position: absolute;
  bottom: 33.5%;
  width: 90%;
  left: 5%;
  height: 15px !important;
}
.block-slider .el-slider__runway .el-slider__bar {
  height: 15px !important;
}
.block-slider .el-slider__runway .el-slider__button-wrapper {
  height: 45px !important;
  width: 45px !important;
}
.title-list-video {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 15%;
}
.video-cut {
  margin-left: 5%;
}
.upload-demo {
  margin-left: 60px;
}
.modal-upload .el-dialog {
  width: 60% !important;
}
.modal-upload .el-dialog__body {
  padding-bottom: 0px !important;
}
.min-height-80vh {
  min-height: 80vh;
}
.width100 {
  width: 100%;
}
.width100 .el-form-item__content {
  width: 100%;
}
/* header */
.navbar-default {
  background-color: rgba(23, 26, 29, 0.8);
  border: 0px;
}
.tag-menu {
  color: #fff !important;
}
.el-submenu__title i {
  color: inherit !important;
}
.icon-menu-heafer {
  color: white !important;
  font-size: 25px;
}
.icon-menu-heafer:hover {
  color: #5697d0 !important;
  font-size: 25px;
}
.el-submenu__title:hover {
  background-color: inherit !important;
  color: #5697d0 !important;
}
.tag-menu:hover {
  background-color: inherit !important;
  color: #5697d0 !important;
}
.el-menu--horizontal .el-menu .el-menu-item {
  background-color: #fff !important;
  /* text-transform: capitalize; */
}
.el-menu--popup {
  padding: 10px 0 !important;
  background-color: #fff !important;
  left: 14px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25) !important;
  transition: 0.3s;
  top: calc(100% - 15px) !important;
  position: absolute !important;
  z-index: 100 !important;
  border: none !important;
  border-radius: 0px !important;
}
/* end header */

.number_video {
  width: 40px;
  height: auto;
  margin-left: 5%;
  vertical-align: 65px;
  cursor: pointer;
  font-size: 20px;
  color: rgba(23, 26, 29, 0.8);
  margin-bottom: 0px;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 50%;
  text-align: center;
}
/* video home first */
#homeVideo {
  right: 0;
  bottom: 0;
  width: 100%; 
  height: 99vh; 
  background-color: black;
  object-fit: fill;
}
.content-video {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  color: #f1f1f1;
  width: 100%;
  height: 100%;
}

#btnGalary {
  width: 100px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #eee;
  color: black;
  cursor: pointer;
  /* margin-bottom: 20px; */
  float: right;
}

#btnGalary:hover {
  background: rgba(23, 26, 29, 0.8);
  color: #5697d0;
}
.sexy {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0px 20px 20px;
  background: #000;
  bottom: 0;
  opacity: 0.85;
}
.sexy h1 {
  font-size: 29px;
}

/* end video home first */

.noUi-horizontal .noUi-handle {
  width: 1px !important;
  right: -5px !important;
  cursor: pointer;
}
.noUi-handle:before, .noUi-handle:after {
  display: none !important;
}
.noUi-connect {
  background: #8b8d8e !important;
}

/* begin slider video cutting tool */
.el-slider__runway {
  background-color: black !important;
  margin: 0px !important;
}
.el-slider__bar {
  background-color: black !important;
}
.point-slider {
  width: 89.5%;
  left: 6%;
  margin: 0px !important;
  position: absolute;
  bottom: 40.5%;
  height: 10px;
}
.el-slider__button {
  background-color: transparent !important;
  border: none !important;
  border-radius: 0% !important;
  border-left: 10px solid transparent !important;
  border-right: 10px solid transparent !important;
  border-bottom: 10px solid red !important;
  width: 10px  !important;
  height: 19px !important;
}
#add_video table tr td {
  text-align: center;
}
.tableChil tr td label {
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.noUi-horizontal .noUi-handle {
  height: 18px !important;
}
/* end slider video cutting tool */

/* footer */
.footer {
  background: #333333;
  color: #ffffff;
}
.footer p {
  padding-bottom: 20px; 
  margin-bottom: 0px; 
  padding-top: 20px
}
#slider-connect {
  margin: 0px !important;
  position: absolute;
  bottom: 42.5%;
  width: 90%;
  left: 5%;
  height: 10px !important;
}
#vid_upload {
  width: 100%;
  height: auto;
}
#slider-connect .noUi-tooltip {
  font-size: 12px;
  padding: 1px !important;
}
.noUi-tooltip {
  display: none !important;
}
.noUi-active .noUi-tooltip {
  display: block !important;
}
.center {
  text-align: center;
}


/* home version 1 */

section {
  position: relative;
  width: 100%;
  height: 100vh;
}
section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section .navigation {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .navigation li {
  list-style: none;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 4px;
  background: #fff;
  padding: 3px;
  opacity: 0.7;
  transition: 0.5s;
}
section .navigation li:hover {
  opacity: 1;
}
section .navigation li img {
  width: 30px;
  transition:  0.5s;
}
section .navigation li img:hover {
  width: 50px;
}
/* end version 1 */

/* home version 2 */
.fade-enter-active,
.fade-leave-active {
  transition: all 0.9s ease;
  overflow: hidden;
  visibility: visible;
  position: absolute;
  width:100%;
  opacity: 1;
}

.fade-enter,
.fade-leave-to {
  visibility: hidden;
  width:100%;
  opacity: 0;
}

.prev, .next {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.7s ease;
  text-decoration: none !important;
  user-select: none;
}

.next {
  right: 0;
  margin-right: 20px;
  border-radius: 0 5px 5px 0;
}

.prev {
  left: 0;
  margin-left: 20px;
  border-radius: 5px 0 0 5px;
}

.prev:hover, .next:hover {
  background-color: rgba(23, 26, 29, 0.8);
}

.prev:focus, .next:focus {
  color: white !important;
}
.prev .fa, .next .fa {
  font-size: 50px;
}
/* end version 2 */

#downloadVideo {
  visibility: hidden;
}

/* ------------------------ */

/* begin css comments */
.comments-details button.btn.dropdown-toggle,
.comments-details .total-comments {
    font-size: 18px;
    font-weight: 500;
    color: #5e5e5e;
}
.comments-details {
    padding: 15px 15px;
}
.comments .comments .dropdown,
.comments .dropup {
    position: relative;
}
.comments button {
    background-color: transparent;
    border: none;
}
.comments .comment-box {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #FAFAFA;
    padding: 10px 0px 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    /* border: 1px solid #ddd; */
    border-bottom: 1px solid #ddd;
}
.comments .add-comment {
    background-color: transparent;
    border: none;
    position: relative;
    margin-bottom: 130px;
    z-index: 1;
}
.comments .commenter-pic {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
    background-color: #fff;
}
.comments .add-comment .commenter-name {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0px;
}
.comments .add-comment input {
    border-top: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    outline: 0px;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    padding: 13px;
    font-weight: normal;
}
.comments .add-comment input:focus {
    border-color: #03a9f4;
    border-width: 2px;
}
.comments .add-comment textarea {
  border-top: 0px;
  border-bottom: 1px solid #ccc;
  border-left: 0px;
  border-right: 0px;
  outline: 0px;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  padding: 13px;
  font-weight: normal;
}
.comments .add-comment textarea:focus {
  border-color: #03a9f4;
  border-width: 2px;
}
.comments .add-comment button[type=submit] {
    background-color: #03a9f4;
    color: #fff;
    margin-right: 0px;
}
.comments .add-comment button {
    background-color: #f5f5f5;
    margin: 10px 5px;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
}
.comments .commenter-name .comment-time {
    font-weight: normal;
    margin-left: 8px;
    font-size: 15px;
}
.comments p.comment-txt {
    font-size: 15px;
    /* border-bottom: 1px solid #ddd; */
    padding: 0px 0px 15px 65px;
}
.comments .commenter-name {
    display: inline-block;
    position: relative;
    /* top: -20px; */
    left: 10px;
    font-size: 16px;
    font-weight: bold;
}
.comments .comment-meta {
    font-size: 14px;
    color: #333;
    padding: 2px 5px 0px;
    line-height: 20px;
    float: right;
}
.comments .reply-box {
    display: none;
}
.comments .replied {
    background-color: #fff;
    width: 95%;
    float: right;
    margin-top: 15px;
}
.cmt-content {
  border-top: 1px solid #fff;
  margin-bottom: 30px;
  margin-right: 3% !important;
  margin-left: 3% !important;
}

/*======Responsive CSS=======*/
@media (max-width: 767px){
.comments .commenter-name {
    font-size: 13px;
    top: -5px;
}
.comments .commenter-pic {
    width: 40px;
    height: 40px;
}
.comments .commenter-name a{
  display: block;
}
.comments .commenter-name .comment-time{
  display: block;
  margin-left: 0px;
}
}


/* end css comments */

.memo {
  position: relative;
  margin-bottom: 2%;
  width: 55%;
}
.btn_save_memo {
  margin-left: 2%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

div.videowatermarks {
  background-color: rgba(23, 26, 29, 0.8);
  position: absolute;
  color: white;
  z-index: 2;
  padding: 10px 10px;
  font-size: 21px;
  width: 20%;
}

.textarea-upload {
  border: 1px solid #ccc;
  outline: 0px;
  box-shadow: none;
  border-radius: 0;
  width: 100%;
  padding: 13px;
  font-weight: normal;
  line-height: 1.5;
  border-radius: 5px;
}


@media screen and (max-width: 500px) {
  .navbar-fixed-top {
    position: absolute !important;
  }
  .modal-search .el-dialog {
    width: 50%!important;
    margin-top: 15vh !important;
  }
  .el-dialog {
    margin: 0 !important;
    margin-left: 1.5% !important;
  }
  .search-wrapper {
    margin-bottom: 0px !important;
  }
}

/*----- Dinh Van add css -----*/

