<template>
  <div class="row">
    <div class="col-xs-12 center-block text-center">
      <h2>{{message}}</h2>
      <p style="margin-top: 30px">
        <nuxt-link v-if="isSuccess" to="/auth/login">Click here to login</nuxt-link>
      </p>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  layout: "empty",
  auth: false,
  data() {
    return {
      message: "",
      isSuccess: false
    };
  },
  async asyncData(context) {
    console.log(context.query);
    let code = context.query.code;

    try {
      console.log("hello");
      var baseUrl = context.env.baseUrl;

      await axios.get(
        baseUrl + "/auth/email-confirmation?confirmation=" + code
      );
      return {
        message: "Success",
        isSuccess: true
      };
    } catch (err) {
      return {
        message: "This confirmation token is invalid.",
        isSuccess: false
      };
    }
  }
};
</script>
