<template>
  <div class="row login">
    <div class="col-sm-4 col-sm-offset-4" style="padding-top: 150px">
      <div class="panel panel-blue opacity09">
        <div class="panel-heading">LOGIN</div>
        <div class="panel-body">
          <Notification :message="error" v-if="error"/>
          <form autocomplete="off" @submit.stop.prevent="handleSubmit" v-loading="loading">
            <!-- <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                v-model="email"
                placeholder="Enter email"
                name="email"
                required
              >
            </div> -->
            <div class="form-group">
              <label for="userid">UserId:</label>
              <input
                class="form-control"
                id="userid"
                v-model="userid"
                placeholder="Enter UserId"
                name="userid"
                required
              >
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                v-model="password"
                placeholder="Enter password"
                name="pwd"
                required
              >
            </div>
            <!-- <div class="checkbox">
              <label>
                <input type="checkbox" name="remember"> Remember me
              </label>
            </div> -->
            <div>
              <a href="/" class="btn btn-default">Cancel</a>
              <button :disabled="loading" type="submit" class="btn btn-primary" style="float: right">Submit</button>
            </div>
            <!-- <button :disabled="loading" type="submit" class="btn btn-primary btn-block mt-3">Submit</button> -->
            <!-- <div class="has-text-centered" style="margin-top: 20px">
              <nuxt-link to="/auth/register">Register</nuxt-link>
            </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Notification from "~/components/Notification";
import Strapi from "strapi-sdk-javascript/build/main";
import { mapMutations } from "vuex";
const apiUrl = process.env.API_URL || "http://localhost:1337";
const strapi = new Strapi(apiUrl);

export default {
  layout: "empty",
  auth: false,
  components: {
    Notification
  },
  data() {
    return {
      email: "",
      userid: "",
      password: "",
      error: null,
      loading: false
    };
  },
  methods: {
    async handleSubmit() {
      try {
        this.loading = true;
        // logout first, it delete local storage
        await this.$auth.logout();
        await this.$auth.loginWith("local", {
          data: {
            username: this.userid,
            password: this.password
          }
        });
        this.$router.push("/");
      } catch (e) {
        console.log(e);
        // this.error = e.response.data.message;
        this.error = "UserId or password invalid";
        this.loading = false;
      }
    },
    async handleSubmitOld() {
      try {
        this.loading = true;
        const response = await strapi.login(this.email, this.password);
        this.loading = false;
        this.setUser(response.user);
        this.$router.push({
          path: "/restaurant"
        });
        // this.$router.go(-1)
      } catch (err) {
        this.loading = false;
        alert(err.message || "An error occurred.");
      }
    },
    ...mapMutations({
      setUser: "auth/setUser"
    })
  }
};
</script>

<style>
.login {
  /* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+"); */
  background-image: url("/images/backgrounds/bg.jpg");
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.panel.panel-blue {
  border-radius: 0px;
  box-shadow: 0px 0px 10px #888;
  border-color: #266590;
}
.panel.panel-blue .panel-heading {
  border-radius: 0px;
  color: #fff;
  background-color: #266590;
}
.panel.panel-blue .panel-body {
  background-color: #f2f2f2;
  color: #4d4d4d;
}
.opacity09 {
  opacity: 0.9;
}
</style>
