<template>
  <div class="row" style="padding-top:150px">
    <div class="col-sm-offset-4 col-sm-4">
      <form method="post" style="width: 100%">
        <input name="action" id="signin" type="radio" checked>
        <label for="signin">SIGN IN</label>
        <input name="action" id="signup" type="radio">
        <label for="signup">SIGN UP</label>
        <input name="action" id="reset" type="radio">
        <label for="reset">RESET</label>
        <div class="fields">
          <div class="arrow"></div>
          <input id="usrnm" type="text" name="uname" placeholder="E-Mail">
          <input id="pass" type="password" name="password" placeholder="Password">
          <div class="bars"></div>
          <svg class="see" fill="gray" height="24" viewBox="0 0 24 24" width="24"></svg>
          <svg class="protect" fill="gray" height="24" viewBox="0 0 24 24" width="24"></svg>
          <input
            id="repass"
            type="password"
            name="repeat"
            placeholder="Repeat Password"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}"
          >
          <div class="action">
            <label class="submit">
              <input type="submit" name="submit" value="Login">
              <span>LOGIN REGISTER SEND</span>
            </label>
            <input class="inp-cbx" id="cbx" type="checkbox" style="display: none;">
            <label class="cbx" for="cbx">
              <span>
                <svg width="12px" height="9px" viewBox="0 0 12 9">
                  <polyline points="1 5 4 8 11 1"></polyline>
                </svg>
              </span>
              <span class="lat remember">Remember me</span>
              <span class="lat subscribe">Daily Newsletter</span>
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  layout: 'empty',
  // Components
  components: {}
};
</script>

<style>


form {
    border-radius: 4px;
    width: 350px;
    height: 350px;
    color: #fff;
    position: relative;
    font-family: "Open Sans", sans-serif;
  }
  
  input:not([type="radio"]) {
      color: black;
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    padding: 22px 25px 22px 64px;
    font: 16px 'Open Sans', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.2);
    transition: opacity 0.05s linear, transform 0.4s linear;
    /*   transition: opacity 0.2s linear, transform 0.4s linear; */
    position: relative;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    cursor: pointer;
    /*   font: normal small-caps bold 14px/16px Helvetica, sans-serif; */
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    opacity: 0.2;
    margin: 12px;
  }
  label[for="reset"] {
    margin-left: 122px;
  }
  input[type="radio"]:checked + label {
    opacity: 1;
  }
  #reset:checked ~ .fields #pass,
  #reset:checked ~ .fields #repass {
    opacity: 0;
    transform: translateY(-5px);
  }
  #signin:checked ~ .fields #repass {
    opacity: 0;
    transform: translateY(-5px);
  }
  input[type="submit"] {
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s linear;
    background: rgba(255, 255, 255, 0.2);
    padding-left: 25px;
    color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    transition: all 0.3s;
  }
  .submit {
    margin-left: 0px;
    opacity: 1;
    position: relative;
    overflow: hidden;
    display: block;
    float: left;
    margin-top: 0px;
    width: 140px;
    height: 60px;
    padding: 0px;
  }
  .submit span {
    line-height: 60px;
    word-brake: brake-all;
    width: 100px;
    margin: 0px auto;
    display: block;
    height: 60px;
    text-align: center;
    transition: all 0.4s;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
  }
  #signup:checked ~ .fields .submit span {
    transform: translateY(-60px);
  }
  #reset:checked ~ .fields .submit span {
    transform: translateY(-120px);
  }
  #reset:checked ~ .fields .action {
    transform: translateY(-145px);
  }
  #signin:checked ~ .fields .action {
    transform: translateY(-73px);
  }
  .action {
    transition: transform 0.3s ;
  }
  
  .arrow {
    height: 0;
    width: 0;
    border-bottom: 10px solid rgba(255, 255, 255, 1) !important;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin-left: 28px;
    transition: margin 0.3s;
  }
  #signup:checked ~ .fields .arrow {
    margin-left: 110px;
  }
  #reset:checked ~ .fields .arrow {
    margin-left: 299px;
  }
  .fields {
    margin-top: 10px;
  }
  
  #usrnm {
    background: white
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="#33aaf5" stroke-width="2"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>')
      left 23px center no-repeat;
  }
  #pass {
    background: white
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" fill="none" stroke="#33aaf5" stroke-width="2"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>')
      left 23px center no-repeat;
  }
  #repass {
    background: white
      url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="22" height="24" fill="none" stroke="#33aaf5" stroke-width="2"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 9.9-1"></path></svg>')
      left 23px center no-repeat;
  }
  ::placeholder {
    color: rgba(0, 0, 0, 0.4);
  }
  
  .bars {
    width: 12px;
    height: 2px;
    background: rgba(19, 232, 136, 0.8);
    box-shadow: 0px 6px 0px rgba(19, 232, 136, 0.7),
      0px 12px 0px rgba(19, 232, 136, 0.6), 0px 18px 0px rgba(19, 232, 136, 0.5);
    position: absolute;
    right: 10px;
    margin-top: -50px;
    opacity: 0;
    transition: all 0.3s;
  }
  #signup:checked ~ .fields .bars {
    opacity: 1;
    right: 20px;
  }
  
  .fields > svg {
    position: absolute;
    right: 20px;
    margin-top: -52px;
    opacity: 0.6;
    transition: all 0.2s;
    transform: scale(0.8);
  }
  .protect {
    opacity: 0 !important;
  }
  #signup:checked ~ .fields svg {
    right: 38px;
  }
  #reset:checked ~ .fields svg {
    opacity: 0;
  }
  #signup:checked ~ .fields #pass:hover ~ .protect {
    opacity: 0.5 !important;
  }
  #pass:hover ~ .protect {
    opacity: 0.5 !important;
  }
  #signin ~ .fields #pass:hover ~ .see {
    opacity: 0 !important;
  }
  
  /* rember me  */
  /* #signup:checked ~ .fields .cbx, */
  #reset:checked ~ .fields .cbx {
    opacity: 0 !important;
  }
  
  .cbx .lat {
    display: none;
    margin-left: 8px;
    padding-left: 0px !important;
    transform: translateX(10px);
    transition: all .3s;
  }
  #signin:checked ~ .fields .cbx .remember, #signup:checked ~ .fields .cbx .subscribe {
    display: inline-block;
    transform: translateX(0px);
  }
  #signup:checked ~ .fields .cbx .remember, #signin:checked ~ .fields .cbx .subscribe {
    display: none;
  }
  /* #signup:checked ~ .fields input[type="submit"],#reset:checked ~ .fields input[type="submit"]  {
    width: 100%;
  } */
  .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    position: relative;
    opacity: 1;
    font-weight: normal;
    font-size: 14px;
    transition: all 0.3s;
    margin-top: 18px;
    float: left;
  }
  .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transform: scale(1);
    vertical-align: middle;
    border: 2px solid rgba(255, 255, 255, 0.3);
    transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
    position: absolute;
    top: 5px;
    left: 3px;
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
    transition-delay: 0.2s;
  }
  .cbx span:last-child {
    padding-left: 8px;
  }
  .cbx:hover span:first-child {
    border-color: rgba(255, 255, 255, 1);
  }
  
  .inp-cbx:checked + .cbx span:first-child {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    animation: check 0.6s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(2.2);
    opacity: 0;
    transition: all 0.6s ease;
  }
  
  @keyframes check {
    50% {
      transform: scale(1.2);
    }
  }
  
</style>
