<template>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4" style="padding-top: 150px">
      <div class="panel panel-blue">
        <div class="panel-heading">LOGIN</div>
        <div class="panel-body">
          <Notification :message="error" v-if="error"/>
          <form autocomplete="off" @submit.stop.prevent="handleSubmit">
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control"
                id="email"
                v-model="email"
                placeholder="Enter email"
                name="email"
                required
              >
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input
                type="password"
                class="form-control"
                id="password"
                v-model="password"
                placeholder="Enter password"
                name="pwd"
                required
              >
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" name="remember"> Remember me
              </label>
            </div>
            <button :disabled="loading" type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
            <div class="has-text-centered" style="margin-top: 20px">
              <nuxt-link to="/auth/register">Register</nuxt-link>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Notification from "~/components/Notification";
import Strapi from "strapi-sdk-javascript/build/main";
import { mapMutations } from "vuex";
const apiUrl = process.env.API_URL || "http://localhost:1337";
const strapi = new Strapi(apiUrl);

export default {
  layout: "empty",
  components: {
    Notification
  },
  data() {
    return {
      email: "",
      password: "",
      error: null,
      loading: false
    };
  },
  methods: {
    async handleSubmit() {
      try {
        await this.$auth.loginWith("local", {
          data: {
            identifier: this.email,
            password: this.password
          }
        });
        console.log("Login ok");
        this.$router.push("/");
      } catch (e) {
        this.error = e.response.data.message;
      }
    },
    async handleSubmitOld() {
      try {
        this.loading = true;
        const response = await strapi.login(this.email, this.password);
        this.loading = false;
        this.setUser(response.user);
        this.$router.push({
          path: "/restaurant"
        });
        // this.$router.go(-1)
      } catch (err) {
        this.loading = false;
        alert(err.message || "An error occurred.");
      }
    },
    ...mapMutations({
      setUser: "auth/setUser"
    })
  }
};
</script>

<style>
/* body {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
} */

.panel.panel-blue {
  border-radius: 0px;
  box-shadow: 0px 0px 10px #888;
  border-color: #266590;
}
.panel.panel-blue .panel-heading {
  border-radius: 0px;
  color: #fff;
  background-color: #266590;
}
.panel.panel-blue .panel-body {
  background-color: #f2f2f2;
  color: #4d4d4d;
}
</style>
