<template>
<div class="row">
    <p>
        <strong>Username:</strong>
        {{ loggedInUser.username }}
    </p>
</div>
</template>

<script>
import {
  mapGetters
} from 'vuex'

export default {
  layout: 'default',
  middleware: 'auth',
  computed: {
    ...mapGetters(['loggedInUser'])
  },
  created() {
    console.log(mapGetters(['loggedInUser']));
  }
}
</script>
