<template>
  <div class="display-list-video" style="background: #fff; margin-top: 10px">
    <!-- modal search video -->
    <el-dialog
      title="Search video"
      :visible="visibleSync"
      class="modal-search"
      :before-close="closeModal"
    >
      <el-row class="search-wrapper" :gutter="10">
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-select
            placeholder="Corporation"
            v-model="listQuery.companycode"
            clearable
            filterable
            @change="handleChangeCompany($event)"
          >
            <el-option
              v-for="item in listCompany"
              :key="item.CODE"
              :label="item.NAME"
              :value="item.CODE"
            />
          </el-select>
        </el-col>
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-select
            placeholder="Department"
            v-model="listQuery.departmentcode"
            clearable
            filterable
            @change="handleChangeDeparment($event)"
          >
            <el-option
              v-for="item in listDepartment"
              :key="item.CODE"
              :label="item.NAME"
              :value="item.CODE"
            />
          </el-select>
        </el-col>
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-select placeholder="Category" v-model="listQuery.categorycode" clearable filterable>
            <el-option
              v-for="item in listCategory"
              :key="item.NAME"
              :label="item.NAME"
              :value="item.NAME"
            />
          </el-select>
        </el-col>
        <el-col :lg="8" :md="8" :sm="8" :xs="24" class="padding5">
          <el-date-picker
            v-model="upload_time"
            type="daterange"
            align="right"
            unlink-panels
            range-separator="-"
            start-placeholder="Start date"
            end-placeholder="End date"
            :picker-options="pickerOptions"
            @change="handleChangeDate($event)"
          ></el-date-picker>
        </el-col>
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-select v-model="listQuery.catalogue" placeholder="Catalogue">
            <el-option
              v-for="item in listCatalogue"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </el-col>
      </el-row>
      
      <el-row class="search-wrapper" :gutter="10">
        <el-col :lg="8" :md="8" :sm="8" :xs="24" class="padding5">
          <el-select placeholder="Operation type" v-model="listQuery.opnameid" clearable filterable>
            <el-option
              v-for="item in listOperationType"
              :key="item.OpNameId"
              :label="item.English"
              :value="item.OpNameId"
            />
          </el-select>
        </el-col>
        <el-col :lg="12" :md="12" :sm="12" :xs="24" class="padding5">
          <el-input
            placeholder="Keywords"
            suffix-icon="el-icon-search"
            v-model="listQuery.filename"
            @keyup.enter.native="getList"
          />
        </el-col>
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5 center">
          <el-button
            style="padding: 12px 10px;"
            type="primary"
            icon="el-icon-search"
            @click="getList"
          >Search</el-button>
        </el-col>
      </el-row>
    </el-dialog>

    <div id="app" v-cloak>
      <div class="container" style="background: #f9f9f9">
        <!-- results -->
        <el-row :gutter="10" style="margin-top:10px">
          <el-col
            v-for="video in listVideos"
            :key="video.FILEID"
            :xs="24"
            :sm="12"
            :md="6"
            class="card-video"
          >
            <!-- <nuxt-link :to="{ path: '/video' + '/' + video.FILEID}" target="_blank"> -->
            <div @click="handlePlayVideo(video)">
              <div style="margin-top:10px">
                <div class="box content-box">
                  <div class="video-content" v-if="video.URLImage != ''">
                    <img :src="video.URLImage" alt="Video" />
                  </div>
                  <div class="video-content" v-else>
                    <div
                      v-if="video.FILETYPE == '.xls' || video.FILETYPE == '.xlsx'"
                      class="div-icon-document"
                    >
                      <i class="fa fa-file-excel-o icon-document" aria-hidden="true"></i>
                    </div>
                    <div
                      v-else-if="video.FILETYPE == '.doc' || video.FILETYPE == '.docx'"
                      class="div-icon-document"
                    >
                      <i class="fa fa-file-word-o icon-document" aria-hidden="true"></i>
                    </div>
                    <div v-else-if="video.FILETYPE == '.pdf'" class="div-icon-document">
                      <i class="fa fa-file-pdf-o icon-document" aria-hidden="true"></i>
                    </div>
                    <div v-else>
                      <img src="/images/image-video-default.jpg" alt="Video" />
                    </div>
                  </div>
                  <div :title="video.FILENAME" class="title-video">{{ video.FILENAME }}</div>
                  <div class="describe-video">
                    <div
                      class="hide-text-more"
                      v-if="video.COMPANY_NAME != '-' && video.DEPARTMENT_NAME != '-'"
                    >
                      <span>{{ video.COMPANY_NAME }} ({{ video.DEPARTMENT_NAME }})</span>
                    </div>
                    <div class="hide-text-more" v-else>
                      <span>Manage style files</span>
                    </div>
                    <!-- user upload and time -->
                    <div class="upload-name">
                      <span>{{ video.UPLOADER_NAME }}</span>
                    </div>
                    <div class="div-time-upload">
                      <span class="time-uploaddate">{{ video.TIME_UPLOADDATE }}</span>
                    </div>
                    <!-- style package and style image -->
                    <div v-if="video.STYLEPACKAGE">
                      <div class="upload-name" style="padding-top: 5px; color: black;" >
                        <span style="font-size: 11px">{{ video.STYLEPACKAGE }} ({{ video.BUYERSTYLENAME }})</span>
                      </div>
                      <div class="div-time-upload">
                        <img :src="video.STYLEIMAGE"  alt="Style" />
                      </div>
                    </div>
                    
                    
                  </div>
                </div>
              </div>
            </div>
            <!-- </nuxt-link> -->
          </el-col>
        </el-row>
        <div class="pagin-list text-center">
          <el-pagination
            @size-change="handleSizeChange"
            @current-change="getList"
            :current-page.sync="listQuery.pageindex"
            :page-sizes="[24, 36, 48]"
            :page-size="10"
            layout="total, sizes, prev, pager, next, jumper"
            :total="totalrecords"
          ></el-pagination>
        </div>
      </div>
      <!-- container -->
    </div>

    <!-- #app -->
  </div>
</template>

<script>
import axios from "axios";

export default {
  auth: true,
  data() {
    return {
      filter: "",
      sort: "",
      listVideos: [],
      listVideos2: [],
      listCompany: [],
      listDepartment: [],
      listCategory: [],
      listOperationType: [],
      totalrecords: 0,
      listLoading: false,
      listQuery: {
        pageindex: 1,
        pagesize: 24,
        filename: "",
        isloadall: true,
        catalogue: "video",
        opnameid: ""
      },
      pickerOptions: {
        shortcuts: [
          {
            text: "Last week",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "Last month",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "Last 3 months",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      },
      upload_time: "",
      listCatalogue: [
        {
          value: "video",
          label: "Video"
        },
        {
          value: null,
          label: "Style files"
        }
      ],
      visibleSync: this.dialogVisible,
      form: {
        labcode: "",
        labroomname: "",
        status: "Y",
        registryDate: "",
        date1: "",
        date2: "",
        delivery: false,
        type: [],
        resource: "",
        desc: ""
      },
      formLabelWidth: "160px"
    };
  },
  async asyncData(context) {
    // get list video the first
    const response = await context.$axios.$get("pkvideos", {
      params: {
        pageindex: 1,
        pagesize: 24,
        isloadall: true,
        catalogue: "video"
      }
    });
    // console.log(response.Result[0]);
    // get list company the first
    // var arr_temp = [response.Result[0]];
    var masterResponse = await context.$axios.get("masterdatas");
    var operationType = await context.$axios.get("masterdatas/operation-type");
    // console.log(operationType);
    return {
      // listVideos2: arr_temp,
      listVideos: response.Result,
      totalrecords: response.TotalRecord,
      listCompany: masterResponse.data.Result.ListCompany,
      listOperationType: operationType.data.Result,
    };
  },
  watch: {
    // set value of visibleSync, dialogVisible is props from layout/default
    dialogVisible(newVal) {
      this.visibleSync = newVal;
    }
  },
  props: ["dialogVisible"],
  methods: {
    // function get list video
    async getList() {
      console.log(this.listQuery);
      this.visibleSync = false;
      // emit data from pages/index to layout/default
      this.$nuxt.$emit("dialogFormVisible", this.visibleSync);
      this.listLoading = true;
      
      // if keywords is url
      let url_search = this.listQuery.filename;
      let str = '203.113.146.146:7777';
      let ky = 'play-video';
      if(this.listQuery.filename.includes(str)) {
        if(this.listQuery.filename.includes(ky)) {
          this.listQuery.filename = this.listQuery.filename.split('=').pop();
        } else {
          this.listQuery.filename = this.listQuery.filename.split('/').pop();
        }
      }

      var response = await this.$axios.get("pkvideos", {
        params: this.listQuery
      });

      this.listVideos = response.data.Result;
      this.totalrecords = response.data.TotalRecord;
      this.listLoading = false;
      this.listQuery.filename = url_search;
    },
    // when click next page or number page will call function this
    handleSizeChange(pageSize) {
      this.listQuery.pagesize = pageSize;
      this.getList();
    },
    /*----- Code by Dinh Van -----*/
    // when change select company will call function this to get list department
    async handleChangeCompany(event) {
      if (event) {
        var list = await this.$axios.get("masterdatas", {
          params: { CompanyCode: event }
        });
        this.listDepartment = list.data.Result.ListDepartment;
      } else {
        this.listDepartment = [];
      }
    },
    async handleChangeDeparment(event) {
      // console.log(this.listQuery.companycode)
      if (event) {
        var list = await this.$axios.get("masterdatas", {
          params: {
            CompanyCode: this.listQuery.companycode,
            DepartmentCode: event
          }
        });
        this.listCategory = list.data.Result.ListCategory;
      } else {
        this.listCategory = [];
      }
    },
    // update start date and end date
    handleChangeDate(event) {
      // currentdate de xac dinh gio, phut, giay, vi time default 0:0:0 khi chon tung ngay
      var currentdate = new Date();
      if (this.upload_time && event) {
        var date_0 = new Date(event[0]);
        var date_1 = new Date(event[1]);
        this.listQuery.start_date =
          date_0.getFullYear() +
          "-" +
          (date_0.getMonth() + 1) +
          "-" +
          date_0.getDate() +
          " " +
          0 +
          ":" +
          0 +
          ":" +
          0;
        this.listQuery.end_date =
          date_1.getFullYear() +
          "-" +
          (date_1.getMonth() + 1) +
          "-" +
          date_1.getDate() +
          " " +
          currentdate.getHours() +
          ":" +
          currentdate.getMinutes() +
          ":" +
          currentdate.getSeconds();
      } else {
        this.listQuery.start_date = "";
        this.listQuery.end_date = "";
      }
    },
    // play video
    handlePlayVideo(video) {
      var routeData = this.$router.resolve({
        path: "play-video",
        query: { id: video.FILEID }
      });
      if (video.CATALOGUE == "video") {
        routeData.href = '/play-video?id=' + video.FILEID;
        window.open(routeData.href);
      } else {
        window.open("http://video.pungkookvn.com:9000/" + video.FILEPATH);
      }
    },
    // when click icon close or click ra ngoai
    closeModal() {
      this.visibleSync = false;
      this.$nuxt.$emit("dialogFormVisible", this.visibleSync);
    },
    
  },
  // Components
  components: {}
};
</script>
<style>
.title-video {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding-left: 5px;
  font-size: 1.4rem;
  color: #030303;
}
.describe-video {
  font-size: 1.3rem;
  padding-left: 10px;
  margin-bottom: 5px;
  width: 100%;
  color: #6c757d;
  font-weight: 200;
}
.describe-video:hover {
  color: #030303;
  text-decoration: none;
}
.video-content {
  width: 100%;
  margin: 0 auto;
}
.video-content img {
  width: 100%;
  max-height: 153px;
  /* border-radius: 0.25rem!important; */
  /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2); */
}
.content-box {
  padding-left: 0px !important;
  max-height: 300px !important;
}
.hide-text-more {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-video {
  padding-left: 10px !important;
  padding-right: 10px !important;
  min-height: 280px;
  /* margin-bottom: 15px; */
}
a:hover {
  text-decoration: none;
}
.time-uploaddate {
  float: right;
  color: #352e2e;
}
</style>