<template>
  <div>
    <transition-group name="fade" tag="div">
      <div v-for="i in [currentIndex]" :key="i">
        <video
          id="homeVideo"
          autoplay
          muted loop
          name="media"
          :src="currentSrcVideo"
        ></video>
      </div>
    </transition-group>
    <a class="prev" @click="prev" href="#"><i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
    <a class="next" @click="next" href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
    <div class="content-video">
      <div class="sexy">
        <h1>{{ fileName }}</h1>
        <p>{{ companyName }} ({{ departmentName }})</p>
        <span style="font-size: 20px">{{ uploadName }}</span>
        <span style="margin-left: 10%"> {{ timeUpload }}</span>
        <el-button id="btnGalary" @click="btnGallery()"> GALLERY </el-button>
      </div>
    </div>
  </div>
</template>

<script>

import Vuex from 'vuex';
import Vue from 'vue';
Vue.use(Vuex);

export default {
  name: "Slider",
  auth: true,
  data() {
    return {
      video: null,
      fileName: '',
      companyName: '',
      departmentName: '',
      uploadName: '',
      timeUpload: '',
      currentVid: 0,
      timer: null,
      currentIndex: 0,
      indexVid: 0
    };
  },
  async asyncData(context) {
    // get video the first
    const response = await context.$axios.$get("pkvideos/new-video");
    return {
      video: response.Result,
      fileName: response.Result[0].FILENAME,
      companyName: response.Result[0].COMPANY_NAME,
      departmentName: response.Result[0].DEPARTMENT_NAME,
      uploadName: response.Result[0].UPLOADER_NAME,
      timeUpload: response.Result[0].TIME_UPLOADDATE,
    };
  },
  mounted: function() {
    this.startSlide();
  },

  methods: {
    // auto change video after 8 seconds
    startSlide: function() {
      this.timer = setInterval(this.next, 8000);
    },

    next: function() {
      this.currentIndex += 1;
      this.handleInfoVideo(this.indexVid);
    },
    prev: function() {
      this.currentIndex -= 1;
      this.handleInfoVideo(this.indexVid);
    },
    handleInfoVideo(idxVid) {
      this.fileName = this.video[idxVid].FILENAME
      this.companyName = this.video[idxVid].COMPANY_NAME
      this.departmentName = this.video[idxVid].DEPARTMENT_NAME
      this.uploadName = this.video[idxVid].UPLOADER_NAME
      this.timeUpload = this.video[idxVid].TIME_UPLOADDATE
    },
    btnGallery() {
      // hanđel active menu gallery
      this.$store.commit('store/gallery')
      this.$router.push('gallery')
    }
  },
  computed: {
    currentSrcVideo: function() {
      this.indexVid = Math.abs(this.currentIndex) % this.video.length;
      return this.video[Math.abs(this.currentIndex) % this.video.length].URL;
    }
  },
};
</script>