<template>
  <div class="display-list-video"> 
    <div class="container min-height-80vh" style="margin-top: 20px">
      <el-row class="search-wrapper" :gutter="10">
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-select placeholder="Corporation" v-model="listQuery.companycode" clearable @change="handleChangeCompany($event)">
            <el-option
              v-for="item in listCompany"
              :key="item.CODE"
              :label="item.NAME"
              :value="item.CODE"
            />
          </el-select>
        </el-col>
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-select placeholder="Department" v-model="listQuery.departmentcode" clearable>
            <el-option
              v-for="item in listDepartment"
              :key="item.CODE"
              :label="item.NAME"
              :value="item.CODE"
            />
          </el-select>
        </el-col>
        <el-col :lg="8" :md="8" :sm="8" :xs="24" class="padding5">
          <el-date-picker
            v-model="upload_time"
            type="daterange"
            align="right"
            unlink-panels
            range-separator="-"
            start-placeholder="Start date"
            end-placeholder="End date"
            :picker-options="pickerOptions"
            @change="handleChangeDate($event)">
          </el-date-picker>
        </el-col>
        <el-col :lg="6" :md="6" :sm="6" :xs="24" class="padding5">
          <el-input
            placeholder="File name"
            suffix-icon="el-icon-search"
            v-model="listQuery.filename"
            @keyup.enter.native="getList"
          />
        </el-col>
        <el-col :lg="2" :md="2" :sm="2" :xs="24" class="padding5">
          <el-button style="padding: 12px 10px;" type="primary" icon="el-icon-search" @click="getList">Search</el-button>
        </el-col>
      </el-row>

      <el-table :data="list" v-loading="listLoading" stripe :default-sort = "{prop: 'FILENAME', order: 'ascending'}" style="width: 100%; margin-top: 20px">
        <el-table-column prop="FILENAME" label="File name" width="285" sortable></el-table-column>
        <el-table-column prop="PRIVACY_NAME" label="Privacy" width="100" sortable></el-table-column>
        <el-table-column prop="COMPANY_NAME" label="Corporation" width="150" sortable></el-table-column>
        <el-table-column prop="DEPARTMENT_NAME" label="Department" width="125" sortable></el-table-column>
        <el-table-column prop="UPLOADDATE_TEXT" label="Upload date" width="125" sortable></el-table-column>
        <el-table-column prop="UPLOADER_NAME" label="Uploader" width="140"></el-table-column>
        <el-table-column
          align="center"
          width="210"
          fixed="right"
          class-name="small-padding fixed-width"
        >
          <template slot-scope="scope">  
            <el-button v-if="scope.row.CATALOGUE == 'video'" @click="handlePlayVideo(scope)" type="success" size="mini" style="margin-right:5px"><i class="fa fa-play"></i></el-button>
            <el-button v-else @click="handlePlayVideo(scope)" type="primary" size="mini" style="margin-right:5px"><i class="fa fa-download"></i></el-button>
            <nuxt-link :to="{ path: '/editvideo/' + scope.row.FILEID}">
              <el-button type="info" size="mini" style="margin-right:5px"><i class="fa fa-edit"></i></el-button>
            </nuxt-link>
            <el-button @click="handleDelete(scope.row)" type="danger" size="mini"><i class="fa fa-trash"></i></el-button>
            <!-- <el-button v-if="scope.row.status!='deleted'" size="mini" type="danger" @click="handleDelete(scope.row)">Delete</el-button> -->
          </template>
        </el-table-column>
      </el-table>
      <div class="pagin-list text-center">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="getList"
          :current-page.sync="listQuery.pageindex"
          :page-sizes="[10, 20, 30, 50]"
          :page-size="10"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalrecords"
        ></el-pagination>
      </div>
    </div>
  </div>
</template>

<script>

import { mapGetters } from "vuex";
import moment from 'moment';

export default {
  layout: "default",
  middleware: "auth",
  data() {
    return {
      list: [],
      listCompany: [],
      listDepartment: [],
      totalrecords: 0,
      fileId: undefined,
      uploadPct: "---",
      fileUrl: undefined,
      listLoading: false,
      listQuery: {
        pageindex: 1,
        pagesize: 10,
        filename: "",
        afterday: -1 // all
      },
      pickerOptions: {
        shortcuts: [{
          text: 'Last week',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: 'Last month',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
            picker.$emit('pick', [start, end]);
          }
        }, {
          text: 'Last 3 months',
          onClick(picker) {
            const end = new Date();
            const start = new Date();
            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
            picker.$emit('pick', [start, end]);
          }
        }]
      },
      upload_time: ''
    };
  },
  async asyncData(context) {
    const response = await context.$axios.$get("pkvideos", {
      params: {
        pageindex: 1,
        pagesize: 10
      }
    });

    var masterResponse = await context.$axios.get("masterdatas");
    // format datetime to date
    response.Result.map(function(item) {
      item.UPLOADDATE_TEXT =  moment(item.UPLOADDATE_TEXT).format("YYYY-MMM-DD");
    });

    return {
      list: response.Result,
      totalrecords: response.TotalRecord,
      listCompany: masterResponse.data.Result.ListCompany
    };
  },
  computed: {
    ...mapGetters(["loggedInUser"])
  },
  created() {
    // console.log(mapGetters(["loggedInUser"]));
  },
  methods: {
    async getList() {
      this.listLoading = true;
      var response = await this.$axios.get("pkvideos", {
        params: this.listQuery
      });
      response.data.Result.map(function(item) {
        item.UPLOADDATE_TEXT =  moment(item.UPLOADDATE_TEXT).format("YYYY-MMM-DD");
      });
      this.list = response.data.Result;
      this.totalrecords = response.data.TotalRecord;
      this.listLoading = false;
    },
    handleDelete(row) {
      this.$confirm(
        "This will permanently delete the file. Continue?",
        "Warning",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning"
        }
      )
        .then(async () => {
          // console.info(row);
          var response = await this.$axios.delete("pkvideos/" + row.FILEID);
          if (response.data.IsSuccess) {
            await this.getList();
            this.$message({
              type: "success",
              message: "Delete completed"
            });
          } else {
            this.$message({
              type: "warning",
              message: response.data.Log
            });
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled"
          });
        });
    },
    handleSizeChange(pageSize) {
      this.listQuery.pagesize = pageSize;
      this.getList();
    },
    /*----- Code by Dinh Van -----*/
    // when change select company will call function this to get list department
    async handleChangeCompany(event) {
      var list = await this.$axios.get("masterdatas", {
        params: { CompanyCode: event} 
      });
      this.listDepartment = list.data.Result.ListDepartment;
    },
    // update start date and end date 
    handleChangeDate(event) {
      if (this.upload_time && event) {
        var date_0 = new Date(event[0]);
        var date_1 = new Date(event[1]);
        this.listQuery.start_date = date_0.getFullYear() + "-" + (date_0.getMonth() + 1) + "-" + date_0.getDate() + " " + date_0.getHours() + ":" + date_0.getMinutes() + ":" + date_0.getSeconds();
        this.listQuery.end_date = date_1.getFullYear() + "-" + (date_1.getMonth() + 1) + "-" + date_1.getDate() + " " + date_1.getHours() + ":" + date_1.getMinutes() + ":" + date_1.getSeconds()  
      } else {
        this.listQuery.start_date = '';
        this.listQuery.end_date = '';
      }
    },
    // play video 
    handlePlayVideo(scope) {
      if (scope.row.CATALOGUE == 'video') {
        var routeData = this.$router.resolve({path: 'play-video', query: {id: scope.row.FILEID}});
        window.open(routeData.href);
      } else {
        window.open(scope.row.URL);
      }
    }
  }
};
</script>

<style>
input[type="file"] {
  display: none;
}
table thead tr th {
  background-color: #f5f7fa !important;
}
</style>
