<template>
  <div class="display-list-video" style="padding-top: 60px">
    <div class="row" v-if="errorText">
      <span style="margin-left: 100px">{{this.errorText}}</span>
    </div>
    <!-- display video -->
    <div class="row" v-else-if="isLink">
      <span style="margin-left: 100px">Redirecting...</span>
    </div>
    <div v-else>
    <!-- display memo -->
      <!-- <div class="videowatermarks">{{this.videoInfo.MEMO}}</div> -->
      <video
        controls
        autoplay
        name="media"
        :src="videoUrl"
        style="width: 100%; height: 650px; background-color: black"
      ></video>
    </div>
    <!-- info video -->
    <div class="container container-play-video" style="margin-top:10px">
      <div v-if="!errorText && !isLink" class="info-detail-video">
        <div class="row">
          <div
            style="margin-top: 10px; font-size: 1.8rem; font-weight: 400;"
          >{{this.videoInfo.FILENAME}} - {{this.videoInfo.UPLOADER_NAME}}</div>
        </div>
        <div class="row">
          <hr style="margin-top: 10px; margin-bottom: 10px; border-top: 2px solid #fff;" />
        </div>
        <div class="row" v-if="videoInfo.COMPANY_NAME != '-' && videoInfo.DEPARTMENT_NAME != '-'">
          <div style="font-size: 14px; font-weight: 400">
            Uploaded by:
            <span
              style="font-weight: 600"
            >{{this.videoInfo.COMPANY_NAME}} ({{this.videoInfo.DEPARTMENT_NAME}})</span>
          </div>
        </div>
        <div class="row" v-else>
          <div style="font-size: 14px; font-weight: 400">
            Uploaded by:
            <span style="font-weight: 600">Manage style files</span>
          </div>
        </div>
        <div class="row">
          <div style="margin-top: 10px; font-size: 14px">{{this.videoInfo.UPLOADDATE_TEXT}}</div>
        </div>
        <div class="row">
          <hr style="margin-top: 10px; margin-bottom: 10px; border-top: 2px solid #fff;" />
        </div>
        <div class="row">
          <el-input
            class="col-9"
            style="margin-top: 10px; margin-bottom: 50px; padding-right: 15px"
            v-model="videoUrl"
          >
            <el-button ref="btn" slot="append" icon="document" @click="doCopy">Copy</el-button>
          </el-input>
        </div>
      </div>
    </div>
    <!-- add memo -->
    <div class="container container-play-video">
        <div class="row memo">
          <el-input
            type="textarea"
            :rows="2"
            placeholder="Memo"
            v-model="formData.memo">
          </el-input>
          <button type="submit" class="btn btn-success btn_save_memo" @click="addMemo()">SAVE</button>
        </div>
    </div>

    <!-- comment -->
    <div class="row cmt-content">
      <div class="col-12">
        <div class="comments">
          <div class="comment-box add-comment">
            <span class="commenter-name">
              <textarea v-model="itemAdd.content" placeholder="Add comment" :rows="2" name="Add Comment"></textarea>
              <!-- <input type="text" v-model="itemAdd.content" placeholder="Add comment" name="Add Comment" /> -->
              <button type="submit" class="btn btn-default" @click="addComment()" action="https://jsonplaceholder.typicode.com/posts/">Add</button>
              <button type="cancel" class="btn btn-default" @click="resetItemAdd()">Clear</button>
            </span>
          </div>
          <!-- display all comments -->
          <div v-for="item in listComments" :key="item.ID">
            <tree-comment
              :content="item.CONTENT"
              :nodes="item.children"
              :username="item.USERNAME"
              :datecomment="item.DATE_COMMENT"
              :commentId="item.COMMENTID"
              :id="item.ID"
              :depth="0"
              :fileId="item.FILEID"
              :registerId="item.REGISTERID"
              @add-comment="addComment"
              @delete-comment="deleteComment"
              @edit-comment="editComment"
            ></tree-comment>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import TreeComment from "./treecomments/treecomment";

export default {
  layout: "default",
  auth: false,
  data() {
    return {
      videoInfo: undefined,
      videoUrl: "",
      videoId: "",
      errorText: "",
      isLink: true,
      listComments: null,
      itemAdd: {
        fileId: "",
        content: "",
        parentId: null,
        privacy: "Public",
      },
      formData: {
        memo: ""
      },
    };
  },
  async asyncData(context) {
    var videoId = context.query.id;
    if (!videoId) return {};
    var fileInfoResponse = await context.$axios.get(
      "pkvideos/" + videoId + "/info",
      {}
    );
    var lstCmt = await context.$axios.get("pkvideos/comments/" + videoId, {});
    var errorLog = "";
    if (!fileInfoResponse.data.IsSuccess) {
      errorLog = fileInfoResponse.data.Log;
    }
    return {
      videoInfo: fileInfoResponse.data.Result,
      videoUrl: fileInfoResponse.data.Result
        ? fileInfoResponse.data.Result.URL
        : "",
      errorText: errorLog,
      isLink: fileInfoResponse.data.Result
        ? fileInfoResponse.data.Result.FILETYPE === "link"
        : false,
      listComments: lstCmt.data.Result,
      videoId: videoId
    };
  },
  computed: {
    ...mapGetters(["loggedInUser"]),
  },
  created() {
    this.formData.memo = this.videoInfo.MEMO
    // console.log("errorText = " + this.errorText);
    if (this.videoInfo && this.videoInfo.FILETYPE === "link")
      window.location = this.videoInfo.FILEPATH;
  },
  methods: {
    doCopy() {
      this.$copyText(this.videoUrl);
    },
    async getComment() {
      var response = await this.$axios.get("pkvideos/comments/" + this.videoId, {});
      this.listComments = response.data.Result;
    },
    // create comment
    async addComment(item) {
      if(!this.$store.state.auth.loggedIn) {
        this.$message({
          type: "warning",
          message: "Please login to add comment"
        });
        return false;
      }
      if(item) {
        this.itemAdd = item;
      }
      if(!this.itemAdd.content) {
        this.$message({
          type: "warning",
          message: "Please input comment"
        });
        return false;
      }
      this.itemAdd.fileId = this.videoId;
      var response = await this.$axios.post(
        `pkvideos/comment-video`,
        this.itemAdd
      );
      if(response.data.IsSuccess) {
        this.$message({
          type: "success",
          message: item ? "Reply comment success" : "Add comment success"
        });
        this.getComment();
        this.resetItemAdd();
      }
    },
    resetItemAdd() {
      this.itemAdd.content = "";
      this.itemAdd.parentId = "";
    },
    // delete comment
    deleteComment(id) {
      this.$confirm(
        "Are you sure delete comment?",
        "Warning",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning"
        }
      )
        .then(async () => {
          var response = await this.$axios.delete("pkvideos/comment-video/" + id);
          if (response.data.IsSuccess) {
            await this.getComment();
            this.$message({
              type: "success",
              message: "Delete completed"
            });
          } else {
            this.$message({
              type: "warning",
              message: response.data.Log
            });
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled"
          });
        });
    },
    // update comment
    async editComment(item) {
      if(item) {
        var response = await this.$axios.put('pkvideos/comment-video', item);
        if (!response.data.IsSuccess) {
          this.$message({
            type: 'warning',
            message: response.data.Log
          });
        } else {
          this.$message({
            type: 'success',
            message: 'Edit success'
          });
          this.getComment();
        }
      }
      
    },
    // add memo
    async addMemo() {
      if(!this.$store.state.auth.loggedIn) {
        this.$message({
          type: "warning",
          message: "Please login to add memo"
        });
        return false;
      }
      var response = await this.$axios.put('pkvideos/memo/' + this.videoId, this.formData);
      if(response.data.IsSuccess) {
        this.$message({
          type: "success",
          message: "Add memo success"
        });
      }
      this.getVideo(this.videoId)
    },
    async getVideo(videoId) {
      var infoVideo = await this.$axios.get(
        "pkvideos/" + videoId + "/info",
        {}
      );
      this.videoInfo.MEMO = infoVideo.data.Result.MEMO
      this.formData.memo = infoVideo.data.Result.MEMO;
    }
    
  },
  components: {
    TreeComment,
  },
};
</script>
<style>
.container-play-video {
  padding: 0px !important;
  margin-right: 0px !important;
  margin-left: 30px !important;
}
</style>