<template>
  <div class="row">
        <div class="col-sm-4">
           <div class="panel panel-pink">
            <div class="panel-heading">Panel Pink</div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta varius enim, ut lacinia nisl bibendum ut. Donec viverra sodales.  </div>
          </div>
        </div>
        <div class="col-sm-4">
           <div class="panel panel-blue">
            <div class="panel-heading">Panel Blue</div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta varius enim, ut lacinia nisl bibendum ut. Donec viverra sodales.</div>
          </div>
        </div>
        <div class="col-sm-4">
           <div class="panel panel-yellow">
            <div class="panel-heading">Panel Green</div>
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta varius enim, ut lacinia nisl bibendum ut. Donec viverra sodales.</div>
          </div>
        </div>
    </div>
</template>

<script>
export default {
  // Components
  components: {}
};
</script>

<style>
body {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsPSIjZmZmIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9IiNjY2MiPjwvcmVjdD4KPC9zdmc+");
}


.panel.panel-pink {
  border-radius: 0px;
  box-shadow: 0px 0px 10px #888;
  border-color: #EF5160;
}
.panel.panel-pink .panel-heading {
  border-radius: 0px;
  color: #FFF;
  background-color: #EF5160;
}
.panel.panel-pink .panel-body {
  background-color: #F2F2F2;
  color: #4D4D4D;
}

.panel.panel-blue {
  border-radius: 0px;
  box-shadow: 0px 0px 10px #888;
  border-color: #266590;
}
.panel.panel-blue .panel-heading {
  border-radius: 0px;
  color: #FFF;
  background-color: #266590;
}
.panel.panel-blue .panel-body {
  background-color: #F2F2F2;
  color: #4D4D4D;
}

.panel.panel-yellow {
  border-radius: 0px;
  box-shadow: 0px 0px 10px #888;
  border-color: #EFA13D;
}
.panel.panel-yellow .panel-heading {
  border-radius: 0px;
  color: #FFF;
  background-color: #EFA13D;
}
.panel.panel-yellow .panel-body {
  background-color: #F2F2F2;
  color: #4D4D4D;
}
</style>
