<template>
  <div class="display-list-video">
    <div class="container" style="margin-top: 20px">
      <el-row class="search-wrapper" :gutter="10">
        <el-col :lg="6" :md="6" :sm="6" :xs="24" class="padding5">
          <el-select
            placeholder="Buyer"
            v-model="listQuery.buyer"
            clearable
            filterable
            @change="handleChangeBuyer()"
          >
            <div class="header-select-buyer">
              <span style="float: left">BUYER CODE</span>
              <span style="float: right">BUYER NAME</span>
            </div>
            <el-option
              v-for="item in listBuyer"
              :key="item.CODE"
              :label="item.CODE + ' ; ' + item.NAME"
              :value="item.CODE">
              <span style="float: left">{{ item.CODE }}</span>
              <span style="float: right; color: #8492a6; font-size: 13px">{{ item.NAME }}</span>
            </el-option>
             
          </el-select>
        </el-col>
        <el-col :lg="8" :md="8" :sm="8" :xs="24" class="padding5">
          <el-input
            placeholder="Searching by style code or name"
            suffix-icon="el-icon-search"
            v-model="listQuery.filename"
            @keyup.enter.native="getList"
          />
        </el-col>
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-button type="primary" icon="el-icon-search" @click="getList">Search</el-button>
        </el-col>
      </el-row>
      <el-table
        :data="list"
        v-loading="listLoading"
        stripe
        :default-sort="{prop: 'BUYER', order: 'ascending'}"
        style="width: 100%; margin-top: 20px"
        height="250"
        class="list-manage-style"
        @current-change="handleClickRow"
        ref="singleTable"
        highlight-current-row
      >
        <el-table-column prop="BUYER" label="Buyer" width="100" sortable fixed></el-table-column>
        <el-table-column prop="STYLECODE" label="Style Code" width="100" fixed></el-table-column>
        <el-table-column prop="BUYERSTYLECODE" label="Buyer Code" width="300"></el-table-column>
        <el-table-column prop="BUYERSTYLENAME" label="Buyer Name" width="300"></el-table-column>
        <el-table-column prop="STYLESIZE" label="Size" width="100"></el-table-column>
        <el-table-column prop="STYLECOLORWAYS" label="Style Colorways" width="300"></el-table-column>
        <el-table-column prop="REVNO" label="Rev. No" width="100"></el-table-column>
        <el-table-column prop="FINAL_CONFIRM" label="Final Confirm" width="200"></el-table-column>
        <el-table-column prop="STATUS" label="Status" width="100"></el-table-column>
        <el-table-column prop="FACTORY" label="Development Team" width="200"></el-table-column>
        <el-table-column prop="REMARKS" label="Remarks" width="125"></el-table-column>
        <el-table-column prop="UESERNAME" label="Register" width="200"></el-table-column>
        <el-table-column prop="REGISTRYDATE" label="Registry Date" width="150"></el-table-column>
      </el-table>
      <div class="pagin-list text-center">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="getList"
          :current-page.sync="listQuery.pageindex"
          :page-sizes="[10, 20, 30, 50]"
          :page-size="10"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalrecords"
        ></el-pagination>
      </div>
    </div>
    <div class="container" style="margin-top: 20px">
      <el-table
        :data="listVideo"
        v-loading="listLoading"
        stripe
        :default-sort="{prop: 'CORPORATION', order: 'ascending'}"
        style="width: 100%; margin-top: 20px"
      >
        
        <el-table-column prop="STYLEPACKAGE" label="Style Package" width="150" fixed></el-table-column>
        <el-table-column prop="COMPANY_TEXT" label="Corporation" width="150" sortable fixed></el-table-column>
        <el-table-column prop="DEPARTMENT_TEXT" label="Department" width="120" fixed></el-table-column>
        <el-table-column prop="REVNO" label="RevNo" width="100" align="right"></el-table-column>
        <el-table-column prop="OPNAME_TEXT" label="Operation Type" width="200" ></el-table-column>
        <el-table-column prop="FILENAME" label="File Name" width="300"></el-table-column>
        <el-table-column prop="CONTENTTYPE" label="File Comments" width="300"></el-table-column>
        <el-table-column prop="UPLOADER_NAME" label="Register" width="200"></el-table-column>
        <el-table-column prop="UPLOADDATE_TEXT" label="Registry Date" width="300"></el-table-column>
        <el-table-column
          fixed="right"
          label="Operations"
          width="120"
          align="center">
          <template slot-scope="scope">
            <el-button v-if="scope.row.CATALOGUE == 'video'" @click="handleClickPlay(scope)" type="success" size="small"><i class="fa fa-play"></i></el-button>
            <el-button v-else @click="handleClickPlay(scope)" type="primary" size="small"><i class="fa fa-download"></i></el-button>
          </template>
        </el-table-column>
      </el-table>
      <!-- <div class="pagin-list text-center">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="getList"
          :current-page.sync="listQuery.pageindex"
          :page-sizes="[10, 20, 30, 50]"
          :page-size="10"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalrecords"
        ></el-pagination>
      </div> -->
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import moment from "moment";

export default {
  layout: "default",
  middleware: "auth",
  data() {
    return {
      list: [],
      listBuyer: [],
      totalrecords: 0,
      fileId: undefined,
      uploadPct: "---",
      fileUrl: undefined,
      listLoading: false,
      listQuery: {
        pageindex: 1,
        pagesize: 10,
        filename: "",
        afterday: -1 // all
      },
      listVideo: [],
      listQueryVideo: {
        pageindex: 1,
        pagesize: 10,
        filename: "",
        afterday: -1 // all
      },
    };
  },
  async asyncData(context) {
    var masterResponse = await context.$axios.get(`masterdatas`);
    return {
      listBuyer: masterResponse.data.Result.ListBuyer
    };
  },
  computed: {
    ...mapGetters(["loggedInUser"])
  },
  created() {
    // console.log(mapGetters(["loggedInUser"]));
  },
  methods: {
    // function get list manage style
    async getList() {
      this.listLoading = true;
      var response = await this.$axios.get("pkvideos/style-file-list", {
        params: this.listQuery
      });
      this.list = response.data.Result;
      this.totalrecords = response.data.TotalRecord;
      this.listLoading = false;
    },
    handleDelete(row) {
      this.$confirm(
        "This will permanently delete the file. Continue?",
        "Warning",
        {
          confirmButtonText: "OK",
          cancelButtonText: "Cancel",
          type: "warning"
        }
      )
        .then(async () => {
          // console.info(row);
          var response = await this.$axios.delete("pkvideos/" + row.FILEID);
          if (response.data.IsSuccess) {
            await this.getList();
            this.$message({
              type: "success",
              message: "Delete completed"
            });
          } else {
            this.$message({
              type: "warning",
              message: response.data.Log
            });
          }
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "Delete canceled"
          });
        });
    },
    handleSizeChange(pageSize) {
      this.listQuery.pagesize = pageSize;
      this.getList();
    },
    /*----- Code by Dinh Van -----*/
    // function get list video of one style
    async getListVideo() {
      var response = await this.$axios.get("pkvideos/list-video-manage-style", {
        params: this.listQueryVideo
      });
      console.log(response.data.Result);
      this.listVideo = response.data.Result;
      // console.log(response.data.Result)
    },
    // when click row manage style will call function this
    async handleClickRow ($row) {
      if($row != null) {
        this.listQueryVideo.StylePackage = $row.STYLECODE + $row.STYLESIZE + $row.STYLECOLORSERIAL;
        this.listQueryVideo.RevNo = $row.REVNO;
        this.listQueryVideo.StyleCode = $row.STYLECODE;
        this.listQueryVideo.StyleSize = $row.STYLESIZE;
        this.listQueryVideo.StyleColorSerial = $row.STYLECOLORSERIAL;
        this.getListVideo();
      }
    },
    // when change buyer will call funtion this
    handleChangeBuyer () {
      this.listQuery.pageindex = 1;
      this.listQuery.pagesize = 10;
      this.listQuery.afterday = -1;
      this.listVideo  = [];
      // console.log(this.listQuery)
    },
    // function open video when click button play 
    handleClickPlay(scope) {
      window.open(scope.row.URL);
    }
  }
};
</script>

<style>
input[type="file"] {
  display: none;
}
table thead tr th {
  background-color: #f5f7fa !important;
}
</style>
