<template>
  <div class="display-list-video">
    <div class="container" style="margin-top:20px">
      <div class="row path-controll" style="margin-bottom: 20px">
        <ol>
          <li>
            <span class="font15">Manage Style files</span>
          </li>
          <li>/</li>
          <li>
            <span class="font14">Upload</span>
          </li>
        </ol>
      </div>
      <el-row class="search-wrapper" :gutter="10" style="margin-bottom: 0px">
        <el-col :lg="8" :md="8" :sm="8" :xs="24" class="padding5">
          <el-select
            placeholder="Buyer"
            v-model="listQuery.buyer"
            clearable
            filterable
            @change="handleChangeBuyer()"
          >
            <div class="header-select-buyer">
              <span style="float: left">BUYER CODE</span>
              <span style="float: right">BUYER NAME</span>
            </div>
            <el-option
              v-for="item in listBuyer"
              :key="item.CODE"
              :label="item.CODE + ' ; ' + item.NAME"
              :value="item.CODE"
            >
              <span style="float: left">{{ item.CODE }}</span>
              <span style="float: right; color: #8492a6; font-size: 13px">{{
                item.NAME
              }}</span>
            </el-option>
          </el-select>
        </el-col>
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-select
            placeholder="Style size"
            v-model="listQuery.stylesize"
            clearable
            filterable
          >
            <el-option
              v-for="item in listStyleSize"
              :key="item.CODE"
              :label="item.CODE"
              :value="item.CODE"
            >
            </el-option>
          </el-select>
        </el-col>
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-input
            placeholder="Style code"
            v-model="listQuery.stylecode"
            @keyup.enter.native="getList"
          />
        </el-col>
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-input
            placeholder="Style coloraways"
            v-model="listQuery.stylecolor"
            @keyup.enter.native="getList"
          />
        </el-col>
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
          <el-input
            placeholder="RevNo"
            v-model="listQuery.revno"
            @keyup.enter.native="getList"
          />
        </el-col>
        
      </el-row>
      <el-row class="search-wrapper" :gutter="10">
        <el-col :lg="20" :md="20" :sm="20" :xs="24" class="padding5">
          <el-input
            placeholder="Searching by buyer name or style name"
            suffix-icon="el-icon-search"
            v-model="listQuery.filename"
            @keyup.enter.native="getList"
          />
        </el-col>
        <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5" style="text-align: center">
          <el-button type="primary" icon="el-icon-search" @click="getList"
            >Search</el-button
          >
        </el-col>
      </el-row>
      <el-table
        :data="list"
        v-loading="listLoading"
        stripe
        :default-sort="{ prop: 'BUYER', order: 'ascending' }"
        style="width: 100%; margin-top: 20px"
        height="250"
        class="list-manage-style"
        @current-change="handleClickRow"
        ref="singleTable"
        highlight-current-row
      >
        <el-table-column
          prop="BUYER"
          label="Buyer"
          width="100"
          sortable
          fixed
        ></el-table-column>
        <el-table-column
          prop="STYLECODE"
          label="Style Code"
          width="100"
          fixed
        ></el-table-column>
        <el-table-column
          prop="BUYERSTYLECODE"
          label="Buyer Code"
          width="200"
        ></el-table-column>
        <el-table-column
          prop="BUYERSTYLENAME"
          label="Buyer Name"
          width="300"
        ></el-table-column>
        <el-table-column
          prop="STYLENAME"
          label="Style Name"
          width="300"
        ></el-table-column>
        <el-table-column
          prop="STYLESIZE"
          label="Size"
          width="100"
        ></el-table-column>
        <el-table-column
          prop="STYLECOLORWAYS"
          label="Style Colorways"
          width="300"
        ></el-table-column>
        <el-table-column
          prop="REVNO"
          label="Rev. No"
          width="100"
        ></el-table-column>
        <el-table-column
          prop="FINAL_CONFIRM"
          label="Final Confirm"
          width="200"
        ></el-table-column>
        <el-table-column
          prop="STATUS"
          label="Status"
          width="100"
        ></el-table-column>
        <el-table-column
          prop="FACTORY"
          label="Development Team"
          width="200"
        ></el-table-column>
        <el-table-column
          prop="REMARKS"
          label="Remarks"
          width="125"
        ></el-table-column>
        <el-table-column
          prop="UESERNAME"
          label="Register"
          width="220"
        ></el-table-column>
        <el-table-column
          prop="REGISTRYDATE"
          label="Registry Date"
          width="150"
        ></el-table-column>
      </el-table>
      <div class="pagin-list text-center">
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="getList"
          :current-page.sync="listQuery.pageindex"
          :page-sizes="[10, 20, 30, 50]"
          :page-size="10"
          layout="total, sizes, prev, pager, next, jumper"
          :total="totalrecords"
        ></el-pagination>
      </div>
      <el-tabs
        type="border-card"
        class="form-content upload-video"
        @tab-click="handleClickTabs"
      >
        <!-- Tab list video -->
        <el-tab-pane>
          <span slot="label">
            <i class="fa fa-list"></i> List video
          </span>
          <el-row class="search-wrapper" :gutter="10">
            <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
              <el-select
                placeholder="Corporation"
                v-model="listQueryVideo.companycode"
                clearable
                filterable
                @change="handleChangeCompanyListVideo($event)"
              >
                <el-option
                  v-for="item in listCompanyListVideo"
                  :key="item.CODE"
                  :label="item.NAME"
                  :value="item.CODE"
                >
                </el-option>
              </el-select>
            </el-col>
            <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
              <el-select
                placeholder="Department"
                v-model="listQueryVideo.departmentcode"
                clearable
                filterable
                @change="handleChangeDeparmentListVideo($event)"
              >
                <el-option
                  v-for="item in listDepartmentListVideo"
                  :key="item.CODE"
                  :label="item.NAME"
                  :value="item.CODE"
                >
                </el-option>
              </el-select>
            </el-col>
            <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
              <el-select
                placeholder="Category"
                v-model="listQueryVideo.categorycode"
                clearable
                filterable
              >
                <el-option
                  v-for="item in listCategoryListVideo"
                  :key="item.NAME"
                  :label="item.NAME"
                  :value="item.NAME"
                />
              </el-select>

            </el-col>
            <el-col :lg="8" :md="8" :sm="8" :xs="24" class="padding5">
              <!-- <el-input
                placeholder="Searching by style code or name"
                suffix-icon="el-icon-search"
                v-model="listQuery.filename"
                @keyup.enter.native="getList"
              /> -->
              <el-select
                placeholder="Operation Type"
                v-model="listQueryVideo.operationtype"
                clearable
                filterable
              >
                <el-option
                  v-for="item in listOperationType"
                  :key="item.OpNameId"
                  :label="item.English"
                  :value="item.OpNameId"
                />
              </el-select>
            </el-col>
            <el-col :lg="4" :md="4" :sm="4" :xs="24" class="padding5">
              <el-button type="primary" icon="el-icon-search" @click="getListVideo"
                >Search</el-button
              >
            </el-col>
          </el-row>
          <el-row>
            <el-table
              :data="listVideo"
              v-loading="listLoading"
              stripe
              :default-sort="{prop: 'CORPORATION', order: 'ascending'}"
              style="width: 100%; margin-top: 20px"
            >
              
              <el-table-column prop="STYLEPACKAGE" label="Style Package" width="150" fixed></el-table-column>
              <el-table-column prop="COMPANY_TEXT" label="Corporation" width="150" sortable fixed></el-table-column>
              <el-table-column prop="DEPARTMENT_TEXT" label="Department" width="120" fixed></el-table-column>
              <el-table-column prop="REVNO" label="RevNo" width="100" align="right"></el-table-column>
              <el-table-column prop="OPNAME_TEXT" label="Operation Type" width="200" ></el-table-column>
              <el-table-column prop="FILENAME" label="File Name" width="300"></el-table-column>
              <el-table-column prop="CONTENTTYPE" label="File Comments" width="300"></el-table-column>
              <el-table-column prop="UPLOADER_NAME" label="Register" width="200"></el-table-column>
              <el-table-column prop="UPLOADDATE_TEXT" label="Registry Date" width="300"></el-table-column>
              <el-table-column
                fixed="right"
                label="Operations"
                width="120"
                align="center">
                <template slot-scope="scope">
                  <el-button v-if="scope.row.CATALOGUE == 'video'" @click="handleClickPlay(scope)" type="success" size="small"><i class="fa fa-play"></i></el-button>
                  <el-button v-else @click="handleClickPlay(scope)" type="primary" size="small"><i class="fa fa-download"></i></el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-row>
        </el-tab-pane>

        <!-- Tab upload video -->
        <el-tab-pane>
          <span slot="label">
            <i class="el-icon-video-camera-solid"></i> Upload from local file
          </span>
          <el-row>
            <el-form
              ref="uploadForm"
              :model="formData"
              :rules="validateRules"
              label-width="120px"
            >
              <div class="col-md-6">
                <el-form-item label="Title" prop="title">
                  <el-input
                    placeholder="Title"
                    v-model="formData.title"
                    clearable
                  ></el-input>
                </el-form-item>
                <el-form-item label="Style Package" prop="stylepackage">
                  <el-input
                    class="readonly"
                    placeholder="Style Package"
                    v-model="formData.stylepackage"
                    clearable
                    readonly
                  ></el-input>
                </el-form-item>
                <el-form-item label="Style RevNo" prop="revno">
                  <el-input
                    class="readonly"
                    placeholder="Style RevNo"
                    v-model="formData.revno"
                    clearable
                    readonly
                  ></el-input>
                </el-form-item>
                <el-form-item label="Corporation" prop="companycode">
                  <el-select
                    placeholder="Corporation"
                    v-model="formData.companycode"
                    clearable
                    @change="handleChangeCompany($event)"
                  >
                    <el-option
                      v-for="item in listCompany"
                      :key="item.CODE"
                      :label="item.NAME"
                      :value="item.CODE"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item label="Department" prop="departmentcode">
                  <el-select
                    placeholder="Department"
                    v-model="formData.departmentcode"
                    clearable
                    @change="handleChangeDeparment($event)"
                  >
                    <el-option
                      v-for="item in listDepartment"
                      :key="item.CODE"
                      :label="item.NAME"
                      :value="item.CODE"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item label="Category" prop="categorycode">
                  <el-select
                    placeholder="Category"
                    v-model="formData.categorycode"
                    clearable
                  >
                    <el-option
                      v-for="item in listCategory"
                      :key="item.NAME"
                      :label="item.NAME"
                      :value="item.NAME"
                    />
                  </el-select>
                </el-form-item>
                
                <div class="col-md-6">
                  <el-form-item>
                    <el-upload
                      class="upload-demo"
                      :on-change="onFileChangeVideo"
                      ref="upload"
                      :auto-upload="false"
                      :show-file-list="false"
                      action="https://jsonplaceholder.typicode.com/posts/"
                    >
                      <el-button slot="trigger" size="small" type="primary"
                        >Select video</el-button
                      >
                    </el-upload>
                  </el-form-item>
                </div>
                <div class="col-md-6">
                  <el-form-item class="select-file-document">
                    <el-upload
                      class="upload-demo"
                      :on-change="onFileChange"
                      ref="upload"
                      :auto-upload="false"
                      :show-file-list="false"
                      action="https://jsonplaceholder.typicode.com/posts/"
                    >
                      <el-button slot="trigger" size="small" type="info"
                        >Select file (excel, pdf or word)</el-button
                      >
                    </el-upload>
                  </el-form-item>
                </div>
                <div class="col-md-12">
                  <el-form-item label="File" v-if="this.formData.fileName">
                    <span>{{ this.formData.fileName }}</span>
                  </el-form-item>
                </div>
              </div>
              <div class="col-md-6">
                <el-form-item>
                  <el-checkbox
                    @change="handClickApplyAllStyle($event)"
                    :disabled="disabledCheckboxStyle"
                    v-model="checkStyle"
                    label="style"
                    >Applies at style level</el-checkbox
                  >
                  <br />
                  <el-checkbox
                    @change="handClickApplyAllRev($event)"
                    v-model="checkRevision"
                    :disabled="disabledCheckbox"
                    label="rev"
                    >Applies to all revisions</el-checkbox
                  >
                  <br />
                  <el-checkbox
                    @change="handClickApplyAllColor($event)"
                    v-model="checkColor"
                    :disabled="disabledCheckbox"
                    label="color"
                    >Applies to all colors</el-checkbox
                  >
                  <br />
                </el-form-item>

                <el-form-item label="Operation Type" prop="opnameid">
                  <el-select
                    placeholder="Operation Type"
                    v-model="formData.operationtype"
                    clearable
                  >
                    <el-option
                      v-for="item in listOperationType"
                      :key="item.OpNameId"
                      :label="item.English"
                      :value="item.OpNameId"
                    />
                  </el-select>
                </el-form-item>
                <el-form-item label="Privacy" prop="privacy">
                  <el-select v-model="formData.privacy">
                    <el-option label="Public" value="Public"></el-option>
                    <el-option label="Private" value="Private"></el-option>
                    <el-option
                      label="Department only"
                      value="Department"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="Reason" prop="reason">
                  <textarea
                    class="textarea-upload"
                    placeholder="Reason"
                    v-model="formData.reason"
                    clearable
                  />
                </el-form-item>

              </div>
              <div class="col-md-12 btn-upload-video">
                <el-form-item>
                  <!-- <el-input v-if="uploadSuccess" v-model="uploadedFileUrl"></el-input> -->
                  <el-input
                    v-if="uploadSuccess"
                    class="col-9"
                    style="margin-top: 10px; margin-bottom: 50px; padding-right: 15px"
                    v-model="uploadedFileUrl"
                  >
                    <el-button
                      ref="btn"
                      slot="append"
                      icon="document"
                      @click="doCopy"
                      >Copy</el-button
                    >
                  </el-input>
                </el-form-item>
                <hr />
                <el-progress
                  v-if="uploading"
                  :percentage="uploadPercentage"
                ></el-progress>
                <el-form-item class="group-btn-upload">
                  <el-button
                    type="success"
                    :loading="uploading"
                    @click="uploadFile"
                    >Upload</el-button
                  >
                  <a href="/gallery" style="float: right">
                    <el-button type="plain">Back to list</el-button>
                  </a>
                  <el-button
                    type="danger"
                    v-if="uploading"
                    @click="handleCancelUpload"
                    >Cancel</el-button
                  >
                </el-form-item>
              </div>
            </el-form>
          </el-row>
        </el-tab-pane>

        <!-- Tab share video -->
        <el-tab-pane>
          <span slot="label">
            <i class="el-icon-link"></i> Share youtube video
          </span>
          <el-row>
            <el-form
              ref="sharelinkForm"
              :model="sharelinkFormData"
              :rules="sharelinkValidateRules"
              label-width="120px"
            >
              <div class="col-md-6">
                <el-form-item label="Video link" prop="link">
                  <el-input
                    placeholder="Video link"
                    v-model="sharelinkFormData.link"
                    clearable
                    @blur="fetchYoutubeInfo"
                  ></el-input>
                </el-form-item>
                <el-form-item label="Title" prop="title">
                  <el-input
                    placeholder="Title"
                    v-model="sharelinkFormData.title"
                    clearable
                  ></el-input>
                </el-form-item>
                <el-form-item label="Style Package" prop="stylepackage">
                  <el-input
                    class="readonly"
                    placeholder="Style Package"
                    v-model="sharelinkFormData.stylepackage"
                    clearable
                  ></el-input>
                </el-form-item>
              </div>
              <div class="col-md-6">
                <el-form-item label="Rev" prop="departmentcode">
                  <el-input
                    class="readonly"
                    placeholder="Rev"
                    v-model="sharelinkFormData.departmentcode"
                    clearable
                  ></el-input>
                </el-form-item>
                <el-form-item label="Privacy" prop="privacy">
                  <el-select v-model="sharelinkFormData.privacy">
                    <el-option label="Public" value="Public"></el-option>
                    <el-option label="Private" value="Private"></el-option>
                    <el-option
                      label="Department only"
                      value="Department"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </div>
              <div class="col-md-12 btn-upload-video">
                <el-form-item>
                  <el-input
                    v-if="sharelinkSuccess"
                    v-model="sharelinkFileUrl"
                  ></el-input>
                </el-form-item>
                <hr />
                <el-form-item class="group-btn-upload">
                  <el-button type="success" @click="sharelink">Share</el-button>
                  <a href="/" style="float: right">
                    <el-button type="plain">Back to list</el-button>
                  </a>
                </el-form-item>
              </div>
            </el-form>
          </el-row>
        </el-tab-pane>
      </el-tabs>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

import uuid from "uuid/v4";

export default {
  layout: "default",
  middleware: "auth",
  data() {
    return {
      list: [],
      listVideo: [],
      listBuyer: [],
      listCompany: [],
      listDepartment: [],
      listCategory: [],
      listOperationType: [],
      totalrecords: 0,
      listLoading: false,
      selectedFile: undefined,
      selectedFileUrl: undefined,
      uploadPct: "---",
      baseDomain: "",
      fileId: undefined,
      uploadedFileUrl: undefined,
      formData: {
        fileName: "",
        title: "",
        privacy: "Public",
        companycode: "",
        departmentcode: "",
        categorycode: "",
        revno: "",
        operationtype: "",
        stylepackage: "",
        reason: ""
      },
      sharelinkFormData: {
        link: "",
        title: "",
        privacy: "Public",
        companycode: "",
        departmentcode: "",
        categorycode: "",
        revno: "",
        operationtype: "",
        stylepackage: "",
        reason: ""
      },
      uploadPercentage: 0,
      uploading: false,
      uploadSuccess: false,
      sharelinkSuccess: false,
      isCancelUpload: false,
      validateRules: {
        title: [
          {
            required: true,
            message: "Please input Title",
            trigger: "blur",
          },
        ],
        companycode: [
          {
            required: true,
            message: "Please choose Corporation",
            trigger: "change",
          },
        ],
        departmentcode: [
          {
            required: true,
            message: "Please choose Department",
            trigger: "change",
          },
        ],
      },
      sharelinkValidateRules: {
        link: [
          {
            required: true,
            message: "Please input Video link",
            trigger: "blur",
          },
        ],
        title: [
          {
            required: true,
            message: "Please input Title",
            trigger: "change",
          },
        ],
        companycode: [
          {
            required: true,
            message: "Please choose Corporation",
            trigger: "change",
          },
        ],
        departmentcode: [
          {
            required: true,
            message: "Please choose Department",
            trigger: "change",
          },
        ],
      },
      listQuery: {
        pageindex: 1,
        pagesize: 10,
        filename: "",
        afterday: -1,
        stylecode: "",
        stylesize: "",
        stylecolor: "",
        revno: ""
      },
      currentRow: null,
      checkList: [],
      checkStyle: false,
      checkRevision: false,
      checkColor: false,
      disabledCheckbox: false,
      disabledCheckboxStyle: false,
      styleCode: "",
      styleSize: "",
      styleColorSerial: "",
      rev: "",
      listQueryVideo: {
        pageindex: 1,
        pagesize: 10,
        filename: "",
        afterday: -1, // all
        companycode: "",
        departmentcode: "",
        categorycode: "",
        operationtype: ""
      },
      listCompanyListVideo: [],
      listDepartmentListVideo: [],
      listCategoryListVideo: [],
      listStyleSize: []
    };
  },
  async asyncData(context) {
    var masterResponse = await context.$axios.get("masterdatas");
    var company = await context.$axios.get("masterdatas/corporation");
    var operationType = await context.$axios.get("masterdatas/operation-type");
    // console.log(masterResponse.data.Result.ListStyleCode);
    return {
      listBuyer: masterResponse.data.Result.ListBuyer,
      listOperationType: operationType.data.Result,
      listCompany: company.data.Result,
      listCompanyListVideo: company.data.Result,
      listStyleSize: masterResponse.data.Result.ListStyleSize,
    };
  },
  beforeDestroy() {
    // console.info("destroy");
    this.isCancelUpload = true;
  },
  computed: {
    ...mapGetters(["loggedInUser"]),
  },
  created() {
    // console.log(mapGetters(["loggedInUser"]));
  },
  methods: {
    // function get list manage style
    async getList() {
      // console.log(this.listQuery)
      this.listLoading = true;
      this.resetForm();
      var response = await this.$axios.get("pkvideos/style-file-list", {
        params: this.listQuery,
      });
      this.list = response.data.Result;
      this.totalrecords = response.data.TotalRecord;
      this.listLoading = false;
    },
    submitUpload() {
      // this.$refs.upload.submit();
    },
    // select file upload
    onFileChange(file, fileList) {
      if (this.isExcelWordPdf(file)) {
        this.selectedFile = file;
        this.formData.fileName = file.name;
        this.formData.catalogue = "other";
      } else {
        this.$message({
          type: "warning",
          message: "Please select file is excel, word or pdf.....!",
        });
      }
    },
    onFileChangeVideo(file) {
      if (this.isVideo(file)) {
        this.selectedFile = file;
        this.formData.fileName = file.name;
        this.formData.catalogue = "video";
      } else {
        this.$message({
          type: "warning",
          message: "Please select file is video.....!",
        });
      }
    },
    handleCancelUpload() {
      this.isCancelUpload = true;
    },
    async uploadFile() {
      var isValidateSuccess = true;
      // console.log(this.formData.stylepackage)
      // return false;
      this.$refs["uploadForm"].validate((valid) => {
        if (!valid) {
          isValidateSuccess = false;
          return false;
        }
      });
      if (!isValidateSuccess) return;
      if (!this.selectedFile) return;
      // console.info("start upload")

      try {
        this.uploading = true;
        this.uploadSuccess = false;
        this.isCancelUpload = false;

        const key = uuid();

        const chunkSize = 500000;
        var totalPart = Math.ceil(this.selectedFile.size / chunkSize);

        // console.log("Total part: " + totalPart);
        // console.log("File size: " + this.selectedFile.size);

        for (let partIndex = 1; partIndex <= totalPart; partIndex++) {
          if (this.isCancelUpload) {
            return;
          }
          var startIndex = (partIndex - 1) * chunkSize;
          var endIndex = startIndex + chunkSize;
          if (endIndex >= this.selectedFile.size)
            endIndex = this.selectedFile.size - 1;
          const chunk = this.selectedFile.raw.slice(startIndex, endIndex);
          let formData = new FormData();
          formData.append("FILE", chunk);
          formData.append("KEY", key);
          formData.append("FILENAME", this.selectedFile.name);
          formData.append("TITLE", this.formData.title);
          formData.append("PartIndex", partIndex);
          formData.append("TotalPart", totalPart);
          formData.append("CompanyCode", this.formData.companycode);
          formData.append("TeamCode", this.formData.departmentcode);
          formData.append("Catalogue", this.formData.catalogue);
          formData.append("privacy", this.formData.privacy);
          formData.append("RevNo", this.formData.revno);
          formData.append("OperationType", this.formData.operationtype);
          formData.append("Category", this.formData.categorycode);
          formData.append("StylePackage", this.formData.stylepackage);
          formData.append("Reason", this.formData.reason);

          // console.log(this.formData.catalogue); 
          var response = await this.$axios.post(`pkvideos`, formData, {
            headers: {
              "Content-Type": "multipart/form-data",
            },
            progress: false,
          });
          // JSON responses are automatically parsed.
          // console.log(response);
          this.uploadPercentage = parseInt(
            ((100 * partIndex) / totalPart).toFixed(0)
          );
          // console.log(partIndex + " ----- " + this.uploadPercentage);
          if (response.data && response.data.Result) {
            // console.log(response.data.Result)
            this.fileId = response.data.Result.FILEID;
            // this.uploadedFileUrl = this.$route.path + '/video/' + this.fileId;
            // http://video.pungkookvn.com:9000/ACE0546001/0384d5f9-0c72-4e97-aebd-0c1516ff32b6.pdf
            this.uploadedFileUrl = response.data.Result.URL;
            // this.uploadedFileUrl = 'http://video.pungkookvn.com:7777/video/' + this.fileId;
            // this.uploadedFileUrl =
            //   "http://localhost:3000/play-video?id=" + this.fileId;
            this.uploadSuccess = true;
            // console.log("upload file success");
          }
        }
      } catch (error) {
        console.log(error);
      } finally {
        this.uploading = false;
        this.uploadPercentage = 0; // reset
      }
    },
    async fetchYoutubeInfo() {
      if (this.sharelinkFormData.title) return; // đã dc input

      var link = this.sharelinkFormData.link;
      if (!link) return;

      try {
        var response = await this.$axios.post(`youtubes/info`, {
          link: link,
        });

        if (response.data && response.data.Result) {
          this.sharelinkFormData.title = response.data.Result.Title;
        }
      } catch (error) {}
    },
    async sharelink() {
      var isValidateSuccess = true;
      this.$refs["sharelinkForm"].validate((valid) => {
        if (!valid) {
          isValidateSuccess = false;
          return false;
        }
      });

      if (!isValidateSuccess) return;
      // console.info("start share")

      try {
        this.sharelinkSuccess = false;

        var response = await this.$axios.post(
          `pkvideos/sharelink`,
          this.sharelinkFormData
        );

        if (response.data && response.data.Result) {
          this.fileId = response.data.Result.FILEID;

          // this.uploadedFileUrl = this.$route.path + '/video/' + this.fileId;
          this.sharelinkFileUrl =
            "http://203.113.146.146:7777/play-video?id=" + this.fileId;
          // this.sharelinkFileUrl = 'http://video.pungkookvn.com:7777/video/' + this.fileId;
          // this.sharelinkFileUrl =
          //   "http://localhost:3000/play-video?id=" + this.fileId;
          this.sharelinkSuccess = true;
        }
      } catch (error) {
        console.log(error);
      } finally {
        this.uploading = false;
        this.uploadPercentage = 0; // reset
      }
    },
    /*----- Code by Dinh Van -----*/
    // when change buyer will call funtion this
    handleChangeBuyer() {
      this.listQuery.pageindex = 1;
      this.listQuery.pagesize = 10;
      this.listQuery.afterday = -1;
      this.listQuery.filename = "";
      this.listQuery.stylecode = "";
      this.listQuery.stylesize = "";
      this.listQuery.stylecolor = "";
      this.listQuery.revno = "";
    },
    // when click row manage style will call function this
    handleClickRow($row) {
      this.currentRow = $row;
      if ($row != null) {
        this.styleCode = $row.STYLECODE;
        this.styleSize = $row.STYLESIZE;
        this.styleColorSerial = $row.STYLECOLORSERIAL;
        this.rev = $row.REVNO;
        // when upload file
        this.formData.stylepackage =
          $row.STYLECODE + $row.STYLESIZE + $row.STYLECOLORSERIAL;
        this.formData.revno = $row.REVNO;
        // when share link
        this.sharelinkFormData.stylepackage =
          $row.STYLECODE + $row.STYLESIZE + $row.STYLECOLORSERIAL;
        this.sharelinkFormData.revno = $row.REVNO;


        this.listQueryVideo.StylePackage = $row.STYLECODE + $row.STYLESIZE + $row.STYLECOLORSERIAL;
        this.listQueryVideo.RevNo = $row.REVNO;
        this.listQueryVideo.StyleCode = $row.STYLECODE;
        this.listQueryVideo.StyleSize = $row.STYLESIZE;
        this.listQueryVideo.StyleColorSerial = $row.STYLECOLORSERIAL;
        this.listQueryVideo.companycode = "";
        this.listQueryVideo.departmentcode = "";
        this.listQueryVideo.categorycode = "";
        this.listQueryVideo.operationtype = "";
        this.getListVideo();
      }
    },
    // pagination
    handleSizeChange(pageSize) {
      this.listQuery.pagesize = pageSize;
      this.getList();
    },
    // reset all input of form
    resetForm() {
      // of upload file 
      this.formData.companycode = "";
      this.formData.departmentcode = "";
      this.formData.title = "";
      this.formData.revno = "";
      this.formData.operationtype = "";
      this.formData.stylepackage = "";
      // of share link
      this.sharelinkFormData.companycode = "";
      this.sharelinkFormData.departmentcode = "";
      this.sharelinkFormData.title = "";
      this.sharelinkFormData.revno = "";
      this.sharelinkFormData.operationtype = "";
      this.sharelinkFormData.stylepackage = "";
    },
    handleClickTabs(tab, event) {
      console.log(tab);
      console.log(event);
    },
    // check file select when upload is video
    isVideo(filename) {
      var parts = filename.name.split(".")[1];
      switch (parts.toLowerCase()) {
        case "m4v":
        case "avi":
        case "mpg":
        case "mp4":
        case "mov":
        case "flv":
        case "f4v":
        case "f4p":
        case "f4a":
        case "f4b":
          // etc
          return true;
      }
      return false;
    },
    // check file select when upload is excel, pdf or word
    isExcelWordPdf(filename) {
      var parts = filename.name.split(".")[1];
      switch (parts.toLowerCase()) {
        case "xls":
        case "xlsx":
        case "xlsm":
        case "docx":
        case "docm":
        case "doc":
        case "dot":
        case "docb":
        case "pdf":
          //etc
          return true;
      }
      return false;
    },
    // when click checkbox apply style level
    handClickApplyAllStyle(el) {
      if (this.styleCode) {
        this.disabledCheckbox = el;
        if (el) {
          this.formData.stylepackage = this.styleCode;
        } else {
          this.formData.stylepackage =
            this.styleCode + this.styleSize + this.styleColorSerial;
        }
      } else {
        this.$message({
          type: "warning",
          message: "Please select buyer.....!",
        });
        this.checkStyle = false;
        return false;
      }
    },
    // when click checkbox apply all rev
    handClickApplyAllRev(el) {
      if (this.styleCode) {
        if (el) {
          this.disabledCheckboxStyle = el;
          this.formData.revno = "000";
        } else {
          this.formData.revno = this.rev;
          if (this.checkColor) {
            this.disabledCheckboxStyle = this.checkColor;
          } else {
            this.disabledCheckboxStyle = el;
          }
        }
      } else {
        this.$message({
          type: "warning",
          message: "Please select buyer.....!",
        });
        this.checkRevision = false;
        return false;
      }
    },
    // when click checkbox apply all color
    handClickApplyAllColor(el) {
      if (this.styleCode) {
        if (el) {
          this.disabledCheckboxStyle = el;
          this.formData.stylepackage = this.styleCode + this.styleSize + "000";
        } else {
          this.formData.stylepackage =
            this.styleCode + this.styleSize + this.styleColorSerial;
          if (this.checkRevision) {
            this.disabledCheckboxStyle = this.checkRevision;
          } else {
            this.disabledCheckboxStyle = el;
          }
        }
      } else {
        this.$message({
          type: "warning",
          message: "Please select buyer.....!",
        });
        this.checkColor = false;
        return false;
      }
    },
    doCopy() {
      this.$copyText(this.uploadedFileUrl);
    },
    // change deparment and get category
    async handleChangeDeparment(event) {
      this.formData.categorycode = "";
      if (event) {
        var list = await this.$axios.get("masterdatas/category", {
          params: {
            CompanyCode: this.formData.companycode,
            DepartmentCode: event,
          },
        });
        
        // get name of deparment
        let pro = "";
        this.listDepartment.filter(function(el) {
          if(el.CODE.toLowerCase() == event) {
            pro = el.NAME.toLowerCase();
          }
        })
        // remove Events of deparment production
        this.listCategory = list.data.Result.filter(function(item){
          if(item.NAME != 'Events' || pro != 'production') {
            return item;
          }
        });

      } else {
        this.listCategory = [];
      }
    },
    // when change select company will call function this to get list department
    async handleChangeCompany(event) {
      this.formData.departmentcode = "";
      this.formData.categorycode = "";
      var list = await this.$axios.get("masterdatas/department", {
        params: { CompanyCode: event }
      });
      this.listDepartment = list.data.Result;
    },
     // function get list video of one style
    async getListVideo() {
      console.log(this.listQueryVideo)
      var response = await this.$axios.get("pkvideos/list-video-manage-style", {
        params: this.listQueryVideo
      });
      console.log(response);
      this.listVideo = response.data.Result;
      // console.log(response.data.Result)
    },
    
    // when change select company will call function this to get list department of list video
    async handleChangeCompanyListVideo(event) {
      this.listQueryVideo.departmentcode = "";
      this.listQueryVideo.categorycode = "";
      var list = await this.$axios.get("masterdatas/department", {
        params: { CompanyCode: event }
      });
      this.listDepartmentListVideo = list.data.Result;
    },
    
    // change deparment and get category of list video
    async handleChangeDeparmentListVideo(event) {
      this.listQueryVideo.categorycode = "";
      if (event) {
        var list = await this.$axios.get("masterdatas/category", {
          params: {
            CompanyCode: this.listQueryVideo.companycode,
            DepartmentCode: event,
          },
        });
        
        // get name of deparment
        let pro = "";
        this.listDepartmentListVideo.filter(function(el) {
          if(el.CODE.toLowerCase() == event) {
            pro = el.NAME.toLowerCase();
          }
        })
        // remove Events of deparment production
        this.listCategoryListVideo = list.data.Result.filter(function(item){
          if(item.NAME != 'Events' || pro != 'production') {
            return item;
          }
        });

      } else {
        this.listCategoryListVideo = [];
      }
    },
    handleClickPlay(scope) {
      window.open(scope.row.URL);
    }

  },
};
</script>

<style>
input[type="file"] {
  display: none;
}
.path-controll ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.path-controll ol li {
  display: inline;
  font-size: 12px;
  padding: 4px;
}
</style>
